---
title: QPL 非公式日本語訳
---

<p>
	Q Public License (QPL) は、かつて Qt で使用されていたライセンスです。現在 Qt のライセンスは LGPL と GPL
	のデュアルライセンスであり、QPL は使われていませんが、参考のために残しておきます。<br />
	日本語版は正式なものではなく、無保証です。 厳密な解釈が必要な場合には<a href="http://opensource.org/licenses/qtpl.php">原文</a>を参照して下さい。
</p>


<h2>THE Q PUBLIC LICENSE version 1.0</h2>
<p>
	Copyright (C) 1999 Troll Tech AS, Norway.<br />
	Everyone is permitted to copy and distribute this license document.<br />
	このライセンス文章の複製、配布はご自由にどうぞ。<br />
	The intent of this license is to establish freedom to share and change
	the software regulated by this license under the open source model.<br />
	このライセンスの目的はオープンソースモデルに沿って自由にソフトウェアの配布、変更を行うことが可能にすることです。<br />
	This license applies to any software containing a notice placed by
	the copyright holder saying that it may be distributed under the terms
	of the Q Public License version 1.0.<br />
	このライセンスは 著作権表示で 「"the Q Public License version 1.0" で配布された」と言明したすべてのソフトウェアについて適用されます。<br />
	Such software is herein referred to as the Software.<br />
	そのようなソフトウェアを「ソフトウェア」と表記します。<br />
	This license covers modification and distribution of the Software,
	use of third-party application programs based on the Software, and development
	of free software which uses the Software.<br />
	このライセンスでは その「ソフトウェア」を利用したソフトウェアの作成などを行う場合の
	変更と配布について規定しています。
</p>

<h3>
	Granted Rights<br />
	許可された権利
</h3>
<p>
	1. You are granted the non-exclusive rights set forth in this license
	provided you agree to and comply with any and all conditions in this license.
	Whole or partial distribution of the Software, or software items that link
	with the Software, in any form signifies acceptance of this license.<br />
	1. このライセンスのすべての条件に同意し、従う場合には このライセンスによって産み出される非排他的な以下の権利を
	得ることができます。 「ソフトウェア」や「ソフトウェア」をリンクしたソフトウェアを
	全体もしくは一部に利用した配布物はどんな形式でも このライセンスを受諾したと見なします。<br />
	2. You may copy and distribute the Software in unmodified form provided
	that the entire package, including - but not restricted to - copyright,
	trademark notices and disclaimers, as released by the initial developer
	of the Software, is distributed.<br />
	2. あなたは「ソフトウェア」を、 著作権表示などで制限されていない場合に限り、
	オリジナルパッケージが配布されたときのまま変更しない形で 複製、配布することができる。<br />
	3. You may make modifications to the Software and distribute your modifications,
	in a form that is separate from the Software, such as patches. The following
	restrictions apply to modifications:<br />
	3. あなたは「ソフトウェア」の変更を行ない、その変更を パッチのように「ソフトウェア」とは独立の形式で配布することができます。
	ただし、次のような制限があります。<br />
	a. Modifications must not alter or remove any copyright notices in
	the Software.<br />
	a. 変更は著作権通知の変更や削除を行なっては行けません。<br />
	b. When modifications to the Software are released under this license,
	a non-exclusive royalty-free right is granted to the initial developer
	of the Software to distribute your modification in future versions of the
	Software provided such versions remain available under these terms in addition
	to any other license(s) of the initial developer.<br />
	b. このライセンスに沿って「ソフトウェア」への変更が公開された場合、
	「ソフトウェア」の開発者は、 あなたの変更を利用料なしで今後のバージョンで配布することが可能です。
	ただし、「ソフトウェア」のライセンスが変更しない場合に限ります。<br />
	4. You may distribute machine-executable forms of the Software or machine-executable
	forms of modified versions of the Software, provided that you meet these
	restrictions:<br />
	4. 以下の制限に応じた場合には 「ソフトウェア」の実行形式や 変更された「ソフトウェア」の実行形式の配布が可能です。<br />
	a. You must include this license document in the distribution.<br />
	a. このライセンス文章を含めて配布しなければなりません。<br />
	b. You must ensure that all recipients of the machine-executable forms
	are also able to receive the complete machine-readable source code to the
	distributed Software, including all modifications, without any charge beyond
	the costs of data transfer, and place prominent notices in the distribution
	explaining this.<br />
	b. あなたは実行形式を受け取ったすべての人に、 すべての変更を含んだ機械読み取り可能な完全なソースコードを
	実費以外のコストをかけずに入手できるように保証しなければなりません。 そして配布物の目立つ場所でこのことを説明しなければなりません。<br />
	c. You must ensure that all modifications included in the machine-executable
	forms are available under the terms of this license.<br />
	c. 実行形式に含まれる変更がこのライセンスに従うことを 保証しなければなりません。<br />
	5. You may use the original or modified versions of the Software to
	compile, link and run application programs legally developed by you or
	by others.<br />
	5. オリジナル、もしくは変更された「ソフトウェア」を あなたや他の人が開発したアプリケーションプログラムを実行するために
	コンパイル、リンクすることができます。<br />
	6. You may develop application programs, reusable components and other
	software items that link with the original or modified versions of the
	Software. These items, when distributed, are subject to the following requirements:<br />
	6. オリジナル、もしくは変更された「ソフトウェア」をリンクして アプリケーションプログラムや再利用可能な部品や
	そのほかのソフトウェアを開発できます。 それらのソフトを配布する場合には次の要求を満たしていなければいけません。<br />
	a. You must ensure that all recipients of machine-executable forms
	of these items are also able to receive and use the complete machine-readable
	source code to the items without any charge beyond the costs of data transfer.<br />
	a. それらのソフトウェアの実行形式を受け取ったすべての人に、 機械読み取り可能な完全なソースコードを
	実費以外のコストをかけずに入手できるように保証しなければなりません。<br />
	b. You must explicitly license all recipients of your items to use
	and re-distribute original and modified versions of the items in both machine-executable
	and source code forms. The recipients must be able to do so without any
	charges whatsoever, and they must be able to re-distribute to anyone they
	choose.<br />
	b. あなたのソフトウェアを受け取ったすべての人に、 オリジナルのソフトウェアや変更されたソフトウェアの
	実行形式やソースコードの再配布や利用するためのライセンスを 明示しなければなりません。
	受け取った人は他のどんな料金もなしにそれらが可能でなくてはなりません。
	また、他のどんな人にでも再配布可能でなくてはなりません。<br />
	c. If the items are not available to the general public, and the initial
	developer of the Software requests a copy of the items, then you must supply
	one.<br />
	c. もしもそのソフトウェアが公衆が利用可能でない場合でも、 「ソフトウェア」の開発者がソフトウェアの複製を要求した場合には
	その要求に答えなくてはいけません。
</p>

<h3>
	Limitations of Liability<br />
	責任の制限
</h3>
<p>
	In no event shall the initial developers or copyright holders be liable
	for any damages whatsoever, including - but not restricted to - lost revenue
	or profits or other direct, indirect, special, incidental or consequential
	damages, even if they have been advised of the possibility of such damages,
	except to the extent invariable law, if any, provides otherwise.<br />
	どのような場合でも開発者や著作権保持者が 損害に対する責任を負うことはありません。
</p>
<h3>
	No Warranty<br />
	無保証
</h3>
<p>
	The Software and this license document are provided AS IS with NO WARRANTY
	OF ANY KIND, INCLUDING THE WARRANTY OF DESIGN, MERCHANTABILITY AND FITNESS
	FOR A PARTICULAR PURPOSE.
	<br />「ソフトウェア」とこのライセンスの文章は「そのまま」で「無保証」です。
	<br />Choice of Law This license is governed by the Laws of Norway. Disputes
	shall be settled by Oslo City Court.
	<br />このライセンスはノルウエーの法律によって保護されています。 争議は Oslo
	City Court によって解決されるでしょう。
</p>
