---
title: KDE/Qt パッチ集
---

<p>[Japanese]<a href="./">[English]</a></p>

<p>
  主に KDE/Qt の日本語環境特有の問題を修正するためのパッチです。<br />
  ほとんどのパッチは本家開発チームに報告されています。<br />
  バグや新規のパッチなどの報告は<a href="/community/whatiskdejp/communicate/">メーリングリスト</a> までお願いいたします。
</p>

<h3>パッチ関連情報</h3>
<p>
  <a href="./patch.html">パッチの作り方・当て方・戻し方(やや古い情報が含まれている可能性があります。)</a>
</p>

<h2><a name="kde442">KDE 4.4.2</a></h2>
<ul>
  <li>
    <a href="./files/kde4/kdegraphics-4.5.2-kolourpaint-im.patch">kdegraphics-4.5.2-kolourpaint-im.patch</a>&nbsp;KolourPaint で日本語 (中国語なども?) 入力ができない問題を修正します。今後本家にバグレポートされ、マージされる予定です。 (参考: <a href="https://bugs.kde.org/show_bug.cgi?id=194821">Bug 194821</a>)
  </li>

  <li><a href="./kdelibs-4.4.2-kate-inputmethod.diff">kdelibs-4.4.2-kate-inputmethod.diff</a> <font color="red">報告済</font><br />
    Kate/Kwriteで日本語が入力できない問題 (<a href="http://bugs.kde.org/show_bug.cgi?id=206455">Bug 206455</a>, <a href="http://bugs.kde.org/show_bug.cgi?id=222620">Bug 222620</a>) を解消するパッチです<br></li>
</ul>

<hr>
<h2><a name="qt462">Qt-4.6.2</a></h2>
<ul>
  <li><a href="./qt-everywhere-opensource-src-4.6.2-IgnoreGlobalAdvanceWidth.diff">qt-everywhere-opensource-src-4.6.2-IgnoreGlobalAdvanceWidth.diff</a> <font color="red">報告済</font><br>
    一部のフォント（IPAフォント等）で、半角英数が全角で表示される問題 (<a href="https://bugreports.qt.io/browse/QTBUG-1726">QTBUG-1726</a>) を解消するパッチです<br></li>
  <li><a href="./qt-everywhere-opensource-src-4.6.2-updateWhenPreeditChanged.diff">qt-everywhere-opensource-src-4.6.2-updateWhenPreeditChanged.diff</a> <font color="red">報告済</font><br>
    QLineEditを利用しているウィジェットで日本語入力の動作がおかしくなる問題 (<a href="https://bugreports.qt.io/browse/QTBUG-8807">QTBUG-8807</a>) を解消するパッチです <br></li>
</ul>

<hr>
<h2><a name="kde311">KDE 3.1.1</a></h2>
<ul>
  <li><a href="./kdepim-3.1.1-korganizer-timezone-20030403.diff">kdepim-3.1.1-korganizer-timezone-20030403.diff</a> <font color="red">報告済</font><br>
    korganizerの設定でタイムゾーンの設定コンボボックスが文字化け表示されています。
    またこの壊れた文字列のため、設定されたタイムゾーンが使用されていないという問題を解決しました。</li>
  <li><a href="./kdenetwork-3.1.1-kmail-kmmsgpart-20030402.diff">kdenetwor
      k-3.1.1-kmail-kmmsgpart-20030402.diff</a> <font color="red">報告済</font><br>
    Encodingが"自動"の時、charsetが不明のメールは、"network codec"(日本語の場合はiso-2022-jp)で表示するように変更する。</li>
</ul>

<hr>
<h2><a name="qt312">Qt-3.1.2</a></h2>

<ul>
  <li><a href="./qt-x11-free-3.1.2-xim-changeDefaultOverTheSpot-20030313.diff">qt-x11-free-3.1.2-xim-changeDefaultOverTheSpot-20030313.diff</a><br>
    XIM のデフォルトのスタイルを OverTheSpot にするパッチです<br></li>
  <li><a href="./qt-x11-free-3.1.2-xim-toUseAtokx-20030313.diff">qt-x11-free-3.1.2-xim-toUseAtokx-20030313.diff</a><br>
    ATOK X で変換候補のウィンドウが表示された後に入力する文字を確定しても入力されない問題を解決するパッチです<br></li>
</ul>

<hr>
<h2><a name="qt311">Qt-3.1.1</a></h2>

<ul>
  <li><a href="./qt-x11-free-3.1.1-fix-callPosition-XFilterEvent-20021223.diff">qt-x11-free-3.1.1-fix-callPosition-XFilterEvent-20021223.diff</a> <font color="red">報告済</font><br>
    XIMのイベントをアプリケーション側で間違えて処理してしまう問題を解決するパッチです<br></li>
  <li><a href="./qt-x11-free-3.1.1-qjpunicode-20021223.diff">qt-x11-free-3.1.1-qjpunicode-20021223.diff</a> <font color="red">報告済</font><br>
    変換表の「〜」のバグを修正するためパッチです<br></li>
  <li><a href="./qt-x11-free-3.1.1-xim-changeDefaultOverTheSpot-20021223.diff">qt-x11-free-3.1.1-xim-changeDefaultOverTheSpot-20021223.diff</a><br>
    XIMのデフォルトのスタイルをOverTheSpotにするパッチです<br></li>
  <li><a href="./qt-x11-free-3.1.1-xim-toUseAtokx-20021223.diff">qt-x11-free-3.1.1-xim-toUseAtokx-20021223.diff</a><br>
    ATOK Xで変換候補のウィンドウが表示された後に入力する文字を確定しても入力されない問題を解決するパッチです<br></li>
</ul>

<hr>
<h2><a name="qt310">Qt-3.1.0</a></h2>

<ul>
  <li><a href="./qt-x11-free-3.1.0-fix-callPosition-XFilterEvent-20021217.diff">qt-x11-free-3.1.0-fix-callPosition-XFilterEvent-20021217.diff</a> <font color="red">報告済</font><br>
    XIMのイベントをアプリケーション側で間違えて処理してしまう問題を解決するパッチです<br></li>
  <li><a href="./qt-x11-free-3.1.0-qjpunicode-20021219.diff">qt-x11-free-3.1.0-qjpunicode-20021219.diff</a> <font color="red">報告済</font><br>
    変換表の「〜」のバグを修正するためパッチです<br></li>
  <li><a href="./qt-x11-free-3.1.0-xim-changeDefaultOverTheSpot-20021220.diff">qt-x11-free-3.1.0-xim-changeDefaultOverTheSpot-20021220.diff</a><br>
    XIMのデフォルトのスタイルをOverTheSpotにするパッチです<br></li>
  <li><a href="./qt-x11-free-3.1.0-xim-toUseAtokx-20021223.diff">qt-x11-free-3.1.0-xim-toUseAtokx-20021223.diff</a><br>
    ATOK Xで変換候補のウィンドウが表示された後に入力する文字を確定しても入力されない問題を解決するパッチです<br></li>
</ul>

<hr>
<h2><a name="qt303">Qt-3.0.3</a></h2>

<ul>
  <li><a href="./qt-x11-free-3.0.3-fixXIMFocusProblem-addSelectXIMInputStyleInQtconfig-20020407.diff">qt-x11-free-3.0.3-fixXIMFocusProblem-addSelectXIMInputStyleInQtconfig-20020407.diff</a>
    <font color="red">報告済</font><br>
    一部のXIMで発生するfocus問題を修正します。<br>
    qtconfigからXIMの入力スタイルを選択できます。（注:デフォルトの入力スタイルは On The Spot ですが、この入力方法は、まだ不完全なので Over The Spot を選択するのが無難です。）<br>
    使用方法: qtconfig -> Interface -> XIM Input Style: *** <br>
    <br></li>
  <li><a href="./qt-x11-free-3.0.3-fixJapanesePrintProblem-20020401.diff">qt-x11-free-3.0.3-fixJapanesePrintProblem-20020401.diff</a>
    <font color="red">報告済</font><br>
    印刷するとき、先頭の文字がASCII文字だとそれ以降の日本語が印刷されない問題と印刷したとき文字と文字が重なってしまうバグを修正します。<br>
    <br></li>
  <li><a href="./qt-x11-free-3.0.3-qclipboard-20020417.diff">qt-x11-free-3.0.3-qclipboard-20020417.diff</a>
    <font color="red">報告済</font><br>
    kterm や XEmacs などとの間で日本語を含む文字のコピー＆ペーストを実現します。<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt302">Qt-3.0.2</a></h2>

<ul>
  <li><a href="./qt-x11-free-3.0.2-qtextcodec-20020301.diff">qt-x11-free-3.0.2-qtextcodec-20020301.diff</a>
    <font color="red">報告済</font><br>
    QTextCodec::codecForLocale() のバグをフィックスします。<br>
    <br></li>
  <li><a href="./qt-x11-free-3.0.2-zlibDoubleFree-20020318.diff">qt-x11-free-3.0.2-zlibDoubleFree-20020318.diff</a>
    <font color="red">報告済</font><br>
    zlib のセキュリティバグをフィックスします。<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt301">Qt-3.0.1</a></h2>

<ul>
  <li><a href="./qt-x11-free-3.0.1-qtextcodec-20011222.diff">qt-x11-free-3.0.1-qtextcodec-20011222.diff</a>
    <font color="red">報告済</font><br>
    QTextCodec::codecForLocale() のバグをフィックスします。<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt300">Qt-3.0.0</a></h2>

<ul>
  <li><a href="./qt-x11-free-3.0.0-qclipboard-20011111.diff">qt-x11-free-3.0.0-qclipboard-20011111.diff</a>
    <font color="red">報告済</font><br>
    kterm や XEmacs などとの間で日本語を含む文字のコピー＆ペーストを実現します。<br>
    <br></li>
</ul>


<hr>
<h2><a name="qt232">Qt-2.3.2</a></h2>

<p>
  現在の Qt は .qti18nrc ではなく .fontguess を使用します。<br>
  .fontguess の記述の仕方については<a href="./fontguess-ja.html">こちら</a>をご覧ください。
</p>

<ul>
  <li><a href="./qt-2.3.2-xim-20011112.diff">qt-2.3.2-xim-20011112.diff</a><br />
    ATOK X を使用することができます。<br>
    <br></li>
  <li>
    <a href="./qt-2.3.2-qclipboard-20020106.diff">qt-2.3.2-qclipboard-20020106.diff</a>
    <font color="red">報告済</font><br>
    kterm や XEmacs などとの間で日本語を含む文字のコピー＆ペーストを実現します。<br>
    <br></li>
  <li>
    <a href="./qt-2.3.2-xim-overflow-20020205.diff">qt-2.3.2-xim-overflow-20020205.diff</a>
    <font color="red">報告済</font><br />
    XIMで1度に入力できる最大文字数に限界があるバグをフィックスします。
  </li>
  <li><a href="./qt-2.3.2-qtextcodec-20020301.diff">qt-2.3.2-qtextcodec-20020301.diff</a>
    <font color="red">報告済</font><br>
    QTextCodec::codecForLocale() のバグをフィックスします。<br>
    <br></li>
  <li><a href="./qt-2.3.2-zlibDoubleFree-20020318.diff">qt-2.3.2-zlibDoubleFree-20020318.diff</a>
    <font color="red">報告済</font><br>
    zlib のセキュリティバグをフィックスします。<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt231">Qt-2.3.1</a></h2>

<ul>
  <li><a href="./qt-2.3.1-xim-20010617.diff">qt-2.3.1-xim-20010617.diff</a><br />
    ATOK X を使用することができます。<br>
    <br></li>
  <li><a href="./qt-2.3.1-qclipboard-20010617.diff">qt-2.3.1-qclipboard-20010617.diff</a>
    <font color="red">報告済</font><br>
    kterm や XEmacs などとの間で日本語を含む文字のコピー＆ペーストを実現します。<br>
    <br></li>
  <li><a href="./qt-2.3.1-qstring-toDouble-i18n-20010617.diff">qt-2.3.1-qstring-toDouble-i18n-20010617.diff</a>
    <font color="red">報告済</font><br>
    QString::toDouble( bool * ok=0 ) での non-latin1 文字の取り扱いを修正します。<br>
    <br></li>
  <li><a href="./qt-2.3.1-qpsprinter-ja-20010620.diff">qt-2.3.1-qpsprinter-ja-20010620.diff</a>
    <font color="red">報告済</font><br>
    日本語を印刷できるようになります。<br>
    この問題は一部のコンパイラー（gcc 2.96）だけで発生します。<br>
    <br></li>
  <li><a href="./qt-2.3.1-showFullScreen-fix-20010624.diff">qt-2.3.1-showFullScreen-fix-20010624.diff</a>
    <font color="red">報告済</font><br>
    フルスクリーンモードのバグを修正します。<br>
    <br></li>
  <li><a href="./qt-2.3.1-qtextcodec-20020301.diff">qt-2.3.1-qtextcodec-20020301.diff</a>
    <font color="red">報告済</font><br>
    QTextCodec::codecForLocale() のバグをフィックスします。<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt300beta4">Qt-3.0.0 beta4</a></h2>

<ul>
  <li><a href="./qt-3.0.0-beta4-qclipboard-20010910.diff">qt-3.0.0-beta4-qclipboard-20010910.diff</a>
    <font color="red">報告済</font><br>
    kterm や XEmacs などとの間で日本語を含む文字のコピー＆ペーストを実現します。<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt300beta2">Qt-3.0.0 beta2</a></h2>

<ul>
  <li><a href="./qt-x11-free-3.0.0-beta2-qclipboard-20010705.diff">qt-x11-free-3.0.0-beta2-qclipboard-20010705.diff</a>
    <font color="red">報告済</font><br>
    kterm や XEmacs などとの間で日本語を含む文字のコピー＆ペーストを実現します。<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt300beta1">Qt-3.0.0 beta1</a></h2>

<ul>
  <li><a href="./qt-3.0.0-beta1-qclipboard-20010524.diff">qt-3.0.0-beta1-qclipboard-20010524.diff</a>
    <font color="red">報告済</font><br>
    kterm や XEmacs などとの間で日本語を含む文字のコピー＆ペーストを実現します。<br>
    <br></li>
</ul>

<hr>
<h2><a name="qt230">Qt-2.3.0</a></h2>

<ul>
  <li>
    <a href="./qt-2.3.0-xim-20010309.diff">qt-2.3.0-xim-20010309.diff</a><br />
    ATOK X を使用することができます。
  </li>
  <li><a href="./qt-2.3.0-qclipboard-20010309.diff">qt-2.3.0-qclipboard-20010309.diff</a>
    <font color="red">報告済</font><br>
    kterm や XEmacs などとの間で日本語を含む文字のコピー＆ペーストを実現します。</li>
  <li>
    <a href="./qt-2.3.0-qstring-toDouble-i18n-20010422.diff">qt-2.3.0-qstring-toDouble-i18n-20010422.diff</a>
    <font color="red">報告済</font><br>
    QString::toDouble( bool * ok=0 ) での non-latin1 文字の取り扱いを修正します。
  </li>
  <li>
    <a href="./qt-2.3.0-freebsd-3.x-20010309.diff">qt-2.3.0-freebsd-3.x-20010309.diff</a><br>
    FreeBSD 3.x でコンパイルを通すためのパッチです。
  </li>
  <li>
    <a href="./qt-2.3.0-darwin-20010521.diff">qt-2.3.0-darwin-20010521.diff</a>
  </li>
  <li>
    <a href="./qt-darwin-configs-20010521.tar.gz">qt-darwin-configs-20010521.tar.gz</a><br />
    Darwin でコンパイルを通すためのパッチです。（Dynamic Link ライブラリに対応しています。）<br>
    Mac OS X で動かすには X サーバが必要です。
  </li>
</ul>


<hr>
<h2><a name="kde300">KDE 3.0.0</a></h2>

<p>KDE 3.0 には Qt 3.0.3 以上が必要です。</p>

<ul>
  <li><a href="./kde-i18n-ja-3.0_bugfix_20020408.diff.bz2">kde-i18n-ja-3.0_bugfix_20020408.diff.bz2</a>
    <font color="red">報告済</font><br>
    kde-i18n-ja パッケージのバグを修正します。<br>
    <br></li>
  <li><a href="./kdeaddons-3.0-babelfish-cjk-20020407.diff">kdeaddons-3.0-babelfish-cjk-20020407.diff</a>
    <font color="red">報告済</font><br>
    babel.altavista.com をつかって、konquerorで翻訳を行なうためのpluginに中国語<->英語、日本語<->英語、韓国語<->英語を追加するパッチです。<br>
    <br></li>
  <li><a href="./kdelibs-3.0-kate-charset-20020407.diff">kdelibs-3.0-kate-charset-20020407.diff</a>
    <font color="red">報告済</font><br>
    konqueror でテキストを表示させるとき charset を指定できるようにする。<br>
    <br></li>
  <li><a href="./kdebase-3.0-samba-add-TerminalCode-20020407.diff">kdebase-3.0-samba-add-TerminalCode-20020407.diff</a><br>
    TerminalCode を使用できます。<br>
    <br></li>
  <li><a href="./kdenetwork-3.0-kmail-show_userAgent-20020407.diff">kdenetwork-3.0-kmail-show_userAgent-20020407.diff</a><br>
    "X-Mailer" と "User-Agent" を表示するパッチです。<br>
    利用するには ”メニュー”-> "ビュー" -> "詳細ヘッダ" です。<br>
    <br></li>

</ul>

<h2><a name="kde222">KDE 2.2.2</a></h2>

<ul>
  <li><a href="./kdelibs-2.2.2-keditcl-20011126.diff">kdelibs-2.2.2-keditcl-20011126.diff</a><br>
    KEdit のカット（Ctrl+k）&ペースト（Ctrl+y）の問題を修正します。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2.2-ksirc-ja-20011127.diff">kdenetwork-2.2.2-ksirc-ja-20011127.diff</a><br>
    ksirc で日本語が扱えるようになりますが、以下の問題点<br>
    ・日本語名のチャネルのウィンドウを閉じるとksircがクラッシュする。<br>
    ・日本語のチャネル名の特定の文字を他の文字に変えてしまう。<br>
    があるので使用に関しては注意してください。
  </li>
  <li><a href="./kdenetwork-2.2.2-kmail-ja-local-20020129.diff">
      kdenetwork-2.2.2-kmail-ja-local-20020129.diff</a><br>
    Encoding が 自動の時、charset が不明のメールは locale codec になるように
    なります。<br>
    (ただし、日本の locale codec は、eucjp ですが、jis7とします)<br>
    <a href="./kdenetwork-2.2.2-kmail-unknowncharset-cjk-20011127.diff">
      kdenetwork-2.2.2-kmail-unknowncharset-cjk-20011127.diff</a>の置換版です。<br>
    charset 不明のメールの自動判別機能は将来実装される予定です。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2.2-kmail-show_userAgent-20011126.diff">kdenetwork-2.2.2-kmail-show_userAgent-20011126.diff</a><br>
    "X-Mailer" と "User-Agent" を表示するパッチです。このパッチを当てる場合は、<br>
    kdenetwork-2.2.1-kmail-unknowncharset-cjk-20010922.diff を先に当ててください。<br>
    利用するには ”メニュー”-> "ビュー" -> "詳細ヘッダ" です。<br>
    <br>
    <br></li>
  <li><a href="./kdebase-2.2.2-konsole-ja-20011126.diff">kdebase-2.2.2-konsole-ja-20011126.diff</a><br>
    Konsole でロケール文字（日本なら euc_JP）を表示することができます。XIM 経由の入力も可能です。<br>
    利用するには 設定->フォント->カスタム でフォントを設定して下さい。
  </li>
  <li><a href="./kdevelop-2.0.2-font-i18n-20011127.diff">kdevelop-2.0.2-font-i18n-20011127.diff</a><br>
    決めうちされているフォントをデフォルトフォントに変更します。<br>
    <br></li>
  <li><a href="./kdelibs-2.2.2-khtml-autoencode-ja-20011126.diff">kdelibs-2.2.2-khtml-autoencode-ja-20011126.diff</a><br>
    HTML ページの文字コードを自動判別します。（日本専用）<br>
    <br></li>
  <li><a href="./kdenetwork-2.2.2-knewsticker-utf8-20011127.diff">kdenetwork-2.2.2-knewsticker-utf8-20011127.diff</a><br>
    knewsticker で日本語のニュースが読めるようになります。<br>
    <br></li>
  <li><a href="./kdeaddons-2.2.2-babelfish-ja-20011126.diff">kdeaddons-2.2.2-babelfish-ja-20011126.diff</a><br>
    babel.altavista.com をつかって、konquerorで翻訳を行なうためのpluginに日本語<->英語を追加するパッチです。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2.2-kmail-honyaku-20011126.diff">kdenetwork-2.2.2-kmail-honyaku-20011126.diff</a><br>
    KMail で翻訳魂を使用できます。<br>
    使用方法: 文字を選択して右クリック、Transrate E to J を選択する。<br>
    <br></li>
  <li><a href="./kdebase-2.2.2-kpersonalizer-charset-20011126.diff">kdebase-2.2.2-kpersonalizer-charset-20011126.diff</a><br>
    kpersonalizerでcharsetを指定できないのを修正するパッチです。<br>
    国、言語を指定する画面でCharsetも選択できるようにしています。<br>
    <br></li>
</ul>

<h2><a name="kde221">KDE 2.2.1</a></h2>

<ul>
  <li><a href="./kdelibs-2.2.1-keditcl-20010922.diff">kdelibs-2.2.1-keditcl-20010922.diff</a><br>
    KEdit のカット（Ctrl+k）&ペースト（Ctrl+y）の問題を修正します。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2.1-ksirc-ja-20010922.diff">kdenetwork-2.2.1-ksirc-ja-20010922.diff</a><br>
    ksirc で日本語が扱えるようになりますが、以下の問題点<br>
    ・日本語名のチャネルのウィンドウを閉じるとksircがクラッシュする。<br>
    ・日本語のチャネル名の特定の文字を他の文字に変えてしまう。<br>
    があるので使用に関しては注意してください。
  </li>
  <li>
    <a href="./kdenetwork-2.2.1-kmail-unknownchrset-cjk-20010922.diff">kdenetwork-2.2.1-kmail-unknownchrset-cjk-20010922.diff</a><br>
    Encoding が 自動の時、charset が不明のメールは iso8859-1 になるようになっていますが、<br>
    ・国が ja の時は、iso-2022-jp<br>
    ・国が tw の時は、big5<br>
    ・国が kr の時は、euc-kr<br>
    にします。<br>
    charset 不明のメールの自動判別機能は将来実装される予定です。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2.1-kmail-show_userAgent-20010922.diff">kdenetwork-2.2.1-kmail-show_userAgent-20010922.diff</a><br>
    "X-Mailer" と "User-Agent" を表示するパッチです。このパッチを当てる場合は、<br>
    kdenetwork-2.2.1-kmail-unknowncharset-cjk-20010922.diff を先に当ててください。<br>
    利用するには ”メニュー”-> "ビュー" -> "詳細ヘッダ" です。<br>
    <br>
    <br></li>
  <li>
    <a href="./kdebase-2.2.1-konsole-ja-20010922.diff">kdebase-2.2.1-konsole-ja-20010922.diff</a><br>
    Konsole でロケール文字（日本なら euc_JP）を表示することができます。XIM 経由の入力も可能です。<br>
    利用するには 設定->フォント->カスタム でフォントを設定して下さい。
  </li>
  <li><a href="./kdevelop-2.0.1-font-i18n-20010922.diff">kdevelop-2.0.1-font-i18n-20010922.diff</a><br>
    決めうちされているフォントをデフォルトフォントに変更します。<br>
    <br></li>
  <li><a href="./kdelibs-2.2.1-khtml-autoencode-ja-20010922.diff">kdelibs-2.2.1-khtml-autoencode-ja-20010922.diff</a><br>
    HTML ページの文字コードを自動判別します。（日本専用）<br>
    <br></li>
  <li><a href="./kdenetwork-2.2.1-knewsticker-utf8-20010922.diff">kdenetwork-2.2.1-knewsticker-utf8-20010922.diff</a><br>
    knewsticker で日本語のニュースが読めるようになります。<br>
    <br></li>
  <li><a href="./kdeaddons-2.2.1-babelfish-ja-20010922.diff">kdeaddons-2.2.1-babelfish-ja-20010922.diff</a><br>
    babel.altavista.com をつかって、konquerorで翻訳を行なうためのpluginに日本語<->英語を追加するパッチです。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2.1-kmail-honyaku-20010922.diff">kdenetwork-2.2.1-kmail-honyaku-20010922.diff</a><br>
    KMail で翻訳魂を使用できます。<br>
    使用方法: 文字を選択して右クリック、Transrate E to J を選択する。<br>
    <br></li>
  <li><a href="./kdebase-2.2.1-kpersonalizer-charset-20010922.diff">kdebase-2.2.1-kpersonalizer-charset-20010922.diff</a><br>
    kpersonalizerでcharsetを指定できないのを修正するパッチです。<br>
    国、言語を指定する画面でCharsetも選択できるようにしています。<br>
    <br></li>
  <li><a href="./kdevelop-2.0.1-i18n-20010922.diff">kdevelop-2.0.1-i18n-20010922.diff</a><br>
    サイドバーの表示の修正、makeなどの出力の修正を行なっています。
  </li>
</ul>

<hr>
<h2><a name="kde22">KDE 2.2</a></h2>

<ul>
  <li><a href="./kdelibs-2.2-keditcl-20010816.diff">kdelibs-2.2-keditcl-20010816.diff</a><br>
    KEdit のカット（Ctrl+k）&ペースト（Ctrl+y）の問題を修正します。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2-ksirc-ja-20010816.diff">kdenetwork-2.2-ksirc-ja-20010816.diff</a><br>
    ksirc で日本語が扱えるようになりますが、以下の問題点<br>
    ・日本語名のチャネルのウィンドウを閉じるとksircがクラッシュする。<br>
    ・日本語のチャネル名の特定の文字を他の文字に変えてしまう。<br>
    があるので使用に関しては注意してください。
  </li>
  <li><a href="./kdenetwork-2.2-kmail-unknowncharset-cjk-20010816.diff">kdenetwork-2.2-kmail-unknowncharset-cjk-20010816.diff</a><br>
    Encoding が 自動の時、charset が不明のメールは iso8859-1 になるようになっていますが、<br>
    ・国が ja の時は、iso-2022-jp<br>
    ・国が tw の時は、big5<br>
    ・国が kr tw の時は、big5<br>
    ・国が kr の時は、euc-kr<br>
    にします。<br>
    charset 不明のメールの自動判別機能は将来実装される予定です。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2-kmail-show_userAgent-20010825.diff">kdenetwork-2.2-kmail-show_userAgent-20010825.diff</a><br>
    "X-Mailer" と "User-Agent" を表示するパッチです。このパッチを当てる場合は、<br>
    kdenetwork-2.2-kmail-unknowncharset-cjk-20010816.diff を先に当ててください。<br>
    利用するには ”メニュー”-> "ビュー" -> "詳細ヘッダ" です。<br>
    <br>
    <br></li>
  <li>
    <a href="./kdebase-2.2-konsole-ja-20010818.diff">kdebase-2.2-konsole-ja-20010818.diff</a><br>
    Konsole でロケール文字（日本なら euc_JP）を表示することができます。XIM 経由の入力も可能です。<br>
    利用するには 設定->フォント->カスタム でフォントを設定して下さい。<br>
  </li>
  <li><a href="./kdevelop-2.0-font-i18n-20010816.diff">kdevelop-2.0-font-i18n-20010816.diff</a><br>
    決めうちされているフォントをデフォルトフォントに変更します。<br>
    <br></li>
  <li><a href="./kdelibs-2.2-khtml-autoencode-ja-20010816.diff">kdelibs-2.2-khtml-autoencode-ja-20010816.diff</a><br>
    HTML ページの文字コードを自動判別します。（日本専用）<br>
    <br></li>
  <li><a href="./kdenetwork-2.2-knewsticker-utf8-20010816.diff">kdenetwork-2.2-knewsticker-utf8-20010816.diff</a><br>
    knewsticker で日本語のニュースが読めるようになります。<br>
    <br></li>
  <li><a href="./kdeaddons-2.2-babelfish-ja-20010816.diff">kdeaddons-2.2-babelfish-ja-20010816.diff</a><br>
    babel.altavista.com をつかって、konquerorで翻訳を行なうためのpluginに日本語<->英語を追加するパッチです。<br>
    <br></li>
  <li><a href="./kdenetwork-2.2-kmail-honyaku-20010818.diff">kdenetwork-2.2-kmail-honyaku-20010818.diff</a><br>
    KMail で翻訳魂を使用できます。<br>
    使用方法: 文字を選択して右クリック、Transrate E to J を選択する。<br>
    <br></li>
  <li><a href="./kdebase-2.2-kpersonalizer-charset-20010816.diff">kdebase-2.2-kpersonalizer-charset-20010816.diff</a><br>
    kpersonalizerでcharsetを指定できないのを修正するパッチです。<br>
    国、言語を指定する画面でCharsetも選択できるようにしています。<br>
    <br></li>
  <li><a href="./kdevelop-2.0-i18n-20010817.diff">kdevelop-2.0-i18n-20010817.diff</a><br>
    サイドバーの表示の修正、makeなどの出力の修正を行なっています。<br>
    <br></li>
</ul>
