---
title: Accelerated-kde for KNOPPIX - 旧 Wiki アーカイブ
---

<div class="contents">
<a id="contents_1"></a>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li><a href="#content_1_0"> KDE起動の高速化方法</a>
<ul class="list2" style="padding-left:16px;margin-left:16px"><li><a href="#content_1_1"> startkdeスクリプトの解析</a>
<ul class="list3" style="padding-left:16px;margin-left:16px"><li><a href="#content_1_2"> ブートシーケンスの前処理部</a></li>
<li><a href="#content_1_3"> ブートシーケンスのksplash起動前</a></li>
<li><a href="#content_1_4"> ksplashの起動後の処理</a></li></ul></li></ul></li></ul>
</div>
<h2 id="content_1_0">KDE起動の高速化方法</h2>
<p>CDブートのKNOPPIXを前提として、KDE起動の最適化方法を考察する。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_1">startkdeスクリプトの解析</h3>
<p>まず、結論として、knoppix起動用のstartkde-knoppixのようなものを用意し、<br/>
そちらを起動時に使用するようにするのが最適だと思われる。<br/></p>
<p>以下では、スクリプト内部の解析を行う。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_2">ブートシーケンスの前処理部</h4>
<p>startkdeスクリプトで行われている最初の処理</p>
<pre># Check if a KDE session already is running
if dcop kdesktop &gt;/dev/null 2&gt;&1; then
        echo "KDE seems to be already running on this display."
        xmessage -geometry 500x100 "KDE seems to be already running on this display." &gt; /dev/null 2&gt;/dev/null
        exit 1
fi</pre>
<p>は、既にKDEが起動されているかどうかをテストしているので、KNOPPIXでは必要ない処理だと思われる。<br/>
念のためカットできないと思われる。また、バックグラウンドでの実行もできないだろう。</p>
<p>次の</p>
<pre>if test -z "$XDM_MANAGED" || echo "$XDM_MANAGED" | grep ",auto" &gt; /dev/null; then
  xsetroot -solid "#C0C0C0"
fi</pre>
<p>もカットできないし、おそらくすぐ実行が終わるので、カットする必要がない。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_3">ブートシーケンスのksplash起動前</h4>
<p>ブートシーケンスの始めで、kdehomeの設定処理があるが、$HOME/.kdeに決めうちに変更して問題ないだろう。</p>
<p>その後、フォントディレクトリの初期化処理が走る。</p>
<pre># Activate the kde font directories.
#
# There are 4 directories that may be used for supplying fonts for KDE.
... （中略）...
# Only do usr_fdir and usr_odir if they are *not* listed in fontpaths
test -d "$sys_odir" &amp;&amp; xset +fp "$sys_odir"
test $do_usr_odir -eq 1 &amp;&amp; test -d "$usr_odir" &amp;&amp; (mkfontdir "$usr_odir" ; xset +fp "$usr_odir")
test $do_usr_fdir -eq 1 &amp;&amp; test -d "$usr_fdir" &amp;&amp; (mkfontdir "$usr_fdir" ; xset fp+ "$usr_fdir")
test -d "$sys_fdir" &amp;&amp; xset fp+ "$sys_fdir"
... （中略）...
# Get Ghostscript to look into user's KDE fonts dir for additional Fontmap
if test -n "$GS_LIB" ; then
    GS_LIB=$usr_fdir:$GS_LIB
    export GS_LIB
else
    GS_LIB=$usr_fdir
    export GS_LIB
fi</pre>
<p>ここは、おそらくKNOPPIXの場合は環境特有の値を使って処理を簡素化できるだろう。<br/>
今後USBメモリからのブートような形で環境を変更できるようになる場合には、<br/>
ブートオプションの対応で良いと思う（フォントを追加する人は少ないだろう）。</p>
<p>その少し後にある、以下のkpersonilzerの実行処理は、削っても問題ないだろう。</p>
<pre># run KPersonalizer before the session, if this is the first login
if kreadconfig --file kpersonalizerrc --group General --key FirstLogin --default true --type bool; then
    # start only dcopserver, don't start whole kdeinit (takes too long)
    echo 'startkde: Running kpersonalizer...'  1&gt;&amp;2
    dcopserver
    kwin --lock &amp;
    kpersonalizer --before-session
    # handle kpersonalizer restarts (language change)
    while test $? -eq 1; do
        kpersonalizer --r --before-session
    done
    dcopserver_shutdown
    # shutdown will also make kwin quit, give it time to do so
    sleep 1
fi</pre>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_4">ksplashの起動後の処理</h4>
<p>ここでカットできる部分は、ざっと見た限り存在しない。<br/>
簡素化するためには、kdeinit等のソースに手を入れる必要がある。</p>
<p>周辺機器の設定をしているところを並列にするなどできれば、
それだけで速くなるとは思うが……。</p>
<div class="counter">
Counter:   22,
today:     1,
yesterday: 0
</div>
