---
title: FAQ/5 - 旧 Wiki アーカイブ
---

<h2 id="content_1_0">横スクロールバーが不必要な時に出る  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F5#aa811c60" id="aa811c60" title="aa811c60">†</a></h2>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>バージョン: 3.1.3</li>
<li>アプリケーション: Konquerorなど</li>
<li>作成日: 2003-08-04 (月) 11:34:47</li></ul>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_1">質問  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F5#h7d9fc9c" id="h7d9fc9c" title="h7d9fc9c">†</a></h3>
<p>3.1.3になって横スクロールバーが不必要な時に出るのですが。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_2">回答  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F5#i99a153d" id="i99a153d" title="i99a153d">†</a></h3>
<p>バグとして報告されており、対処するためのパッチが出ています。<br/>
また、CVSでは解決されています。<br/>
<a href="http://bugs.kde.org/show_bug.cgi?id=61730" rel="nofollow">http://bugs.kde.org/show_bug.cgi?id=61730</a></p>
<div class="counter">
Counter:   18,
today:     1,
yesterday: 0
</div>
<hr class="full_hr"/>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_3">コメント  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?FAQ%2F5#t29ad0d6" id="t29ad0d6" title="t29ad0d6">†</a></h4>
<br/>
<form action="http://www.kde.gr.jp/pukiwiki/index.php" method="post">
<div><input name="encode_hint" type="hidden" value="ぷ"/></div>
<div>
<input name="plugin" type="hidden" value="comment"/>
<input name="refer" type="hidden" value="FAQ/5"/>
<input name="comment_no" type="hidden" value="0"/>
<input name="nodate" type="hidden" value="0"/>
<input name="above" type="hidden" value="0"/>
<input name="digest" type="hidden" value="523558d10ae12b4d61ae80af9920c24a"/>
<label for="_p_comment_name_0">お名前: </label><input id="_p_comment_name_0" name="name" size="15" type="text"/>
<input id="_p_comment_comment_0" name="msg" size="70" type="text"/>
<input name="comment" type="submit" value="コメントの挿入"/>
</div>
</form>
