---
title: KDE Developer のための FAQ - 旧 Wiki アーカイブ
---

<h2 id="content_1_0">KDE developer のための FAQ  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?KDE%20Developer%A4%CE%A4%BF%A4%E1%A4%CE%20FAQ#v0e142a6" id="v0e142a6" title="v0e142a6">†</a></h2>
<p>これは <a href="http://techbase.kde.org/Development/FAQs" rel="nofollow">http://techbase.kde.org/Development/FAQs</a> を訳したものです。かなり昔に訳されたものなので、最新版と同期がとれていない可能性があります。内容は近々本家 Wiki にコミットされ、このページ自体は削除される予定です。</p>
<div class="contents">
<a id="contents_1"></a>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li><a href="#v0e142a6">  KDE developer のための FAQ </a>
<ul class="list2" style="padding-left:16px;margin-left:16px"><li><a href="#w73ed999">  一般的な質問 </a>
<ul class="list3" style="padding-left:16px;margin-left:16px"><li><a href="#o4607180">  新しいアプリケーションを書き始めたいのですが、何かアドバイスはありますか？ </a></li>
<li><a href="#x3f532e9">  私は開発者です。どうすれば KDE に貢献できますか？ </a></li>
<li><a href="#x447960b">  私は開発者ではありません。どうすればお手伝いできますか？ </a></li>
<li><a href="#bf729429">  Konqui dragon の画像はどこで手に入れることができますか？ </a></li>
<li><a href="#db611f6e">  KDE に貢献するのに必要なスキルのレベルはどの程度ですか？何を学んでおくべきですか？何を読んでおくべきですか？ </a></li>
<li><a href="#q5e00319">  CVS って何ですか？どうやって CVS から KDE を入手することができますか？ </a></li>
<li><a href="#n4a755b6">  .cvsrc には何を書いておくべきですか？ </a></li>
<li><a href="#c76093af">  自分のアプリケーションを KDE に含めたいのですが… </a></li>
<li><a href="#r26908cc">  KDE の内部と外部どちらを開発したほうがいいでしょうか？ </a></li>
<li><a href="#d4037d21">  どうすれば、KDE への CVS アクセスを得ることができますか？ </a></li>
<li><a href="#acbd4116">  私の作ったアプリケーションは unstable ですが、KDE に含めたいのですが… </a></li>
<li><a href="#l6424ccb">  KDE にアプリケーションを含める際、CVS の履歴を失いたくないのですが、どうしたらいいでしょうか？ </a></li>
<li><a href="#z7078d34">  kde bindings の中には何が入っているのですか？ </a></li>
<li><a href="#k18c778a">  KDE のノンベータ版に機能の凍結は適応されますか？ </a></li>
<li><a href="#ka86d787">  stable な KDE と unstable な KDE をひとつのコンピュータに共存させることは可能ですか？ </a></li>
<li><a href="#xe993a7b">  使用している Qt/KDE のバージョンはどうやって知るのですか？ </a></li>
<li><a href="#bda536f9">  Qt-copy か trolltech の Qt か？HEAD ブランチのクリーンビルドをするならどっちが良いですか？ </a></li>
<li><a href="#xb598dc2">  CVS のモジュールからひとつだけディレクトリを checkout するにはどうしたら良いですか？ </a></li>
<li><a href="#se52a709">  KDE のアプリケーションのひとつをスタンダローンの tar ball にするにはどうしたら良いですか？ </a></li>
<li><a href="#q53c4b29">  どうやったら、自分が出したバグレポートをクローズすることができますか？ </a></li></ul></li>
<li><a href="#r68be1ad">  技術的な質問 </a>
<ul class="list3" style="padding-left:16px;margin-left:16px"><li><a href="#oef47880">  どうやって新しいアプリケーションを作り始めるのですか？ </a></li>
<li><a href="#j783228d">  dcop、kpart、kiokdesktop、kdeinit とはなんですか？ </a></li>
<li><a href="#n58b0316">  dcop や kpart を使う必要はあるのですか？ </a></li>
<li><a href="#zc8078aa">  どうやって Makefile.am を書けばいいのですか？ </a></li>
<li><a href="#n8eb6c8b">  Makefile の生成はどうなっているのですか？ </a></li>
<li><a href="#e2186c6a">  どうして KDE は .lo ファイルや .la ファイルを生成するのですか？どうしてこれらのファイルは .lib ディレクトリに隠されているのですか？ </a></li>
<li><a href="#fc984bca">  make のターゲットにはどんなものがありますか？ </a></li>
<li><a href="#ub5f077b">  CVS から checkout したのですが、configure スクリプトや Makefile ファイルが見つかりませんが… </a></li>
<li><a href="#d23a600e">  どうすれば、特定のディレクトリを一時的にビルドから除くことが出来ますか？ </a></li>
<li><a href="#dbc2b387">  どのようなコンパイルオプションがありますか？ </a></li>
<li><a href="#j3710739">  どのようなコンパイルオプションが推奨されていますか？ </a></li>
<li><a href="#yfbb0fee">  コンパイルを速く済ますための Tips はありますか？ </a></li>
<li><a href="#pbe17486">  Makefile の中で STRIP 変数がセットされていますが、どこでも使われていないようですが… </a></li>
<li><a href="#q17445ee">  ソースコードを書く際、どんなインデントを使えばいいんですか？ </a></li>
<li><a href="#tc47e85a">  i18n と I18N_NOOP の違いは何ですか？ </a></li>
<li><a href="#j991b363">  What is this bug thing with QSpinNumber? </a></li>
<li><a href="#bf414a94">  "virtual table error"というエラーが出ます。 </a></li>
<li><a href="#z6935d9b">  dcop を使おうとして k_dcop を myClassHeader.h に加えましたが、何もおこりません。 </a></li>
<li><a href="#i05c7d5c">  いくつかの Makefile.am の中には .stub ファイルがありますが、これは何のためですか？ </a></li>
<li><a href="#t9c979f7">  Q_OBJECT を myClassHeader.h に加えましたが、mocファイルが生成されません。 </a></li>
<li><a href="#h6fa47a9">  簡単に済ませるために、自分のクラス全体をひとつの cpp ファイルにコーディングしました。どうすれば moc ファイルと kidl ファイルを生成することが出来ますか？ </a></li>
<li><a href="#fb27c8ac">  kpart（つまりプラグイン）を作りましたが、まだ完成していないのでインストールしたくありません。KTrader や KLibLoader を利用してその kpart にリクエストした際に KDE がそれを見つけられるようにするにはどうしたらよいですか？ </a></li>
<li><a href="#lb9722a1">  root になれない場合に、どうすれば追加の KDE ソフトをインストールできますか？ </a></li>
<li><a href="#b18a6427">  私の作った kpart ライブラリが KTrader を通してリクエストをするとリストに表示されません。 </a></li>
<li><a href="#v6ecbc10">  kdelibs を変更してインストールしましたが、新しい KDE アプリケーションがそれを使っているように見えません。 </a></li>
<li><a href="#v13b6eb7">  KParts とスタンドアローンアプリケーションの両方を作成していますが、どうすればコードの重複を避けることが出来ますか？ </a></li>
<li><a href="#c886e497">  外部のアプリケーションを起動する一番良い方法は何ですか？ </a></li>
<li><a href="#s030b650">  どうやって KDE へのパッチを作成し提出すれば良いですか？ </a></li>
<li><a href="#f3212951">  How do I make my application Xinerama and multi-head safe? </a></li>
<li><a href="#h4a7499a">  KDE に関して UIC プラグインが見つからないというエラーが出ましたが、それらはインストールされています。何が悪いのでしょうか？ </a></li></ul></li>
<li><a href="#vf5604a6">  デバッグ </a>
<ul class="list3" style="padding-left:16px;margin-left:16px"><li><a href="#od7235ca">  Dr Konqi が出ないようにするにはどうしたら良いですか？ </a></li>
<li><a href="#x8fcd9ed">  core ファイルって何ですか？どうすれば core ファイルを得ることができますか？ </a></li>
<li><a href="#nd2edcef">  デバッグ用の出力を標準エラーに出す１番良い方法は何ですか？ </a></li>
<li><a href="#u0c923ba">  私のアプリケーションをデバッグするのにどんなツールが使えますか？ </a></li>
<li><a href="#we42a9f7">  QString の文字列を gdb で出力するにはどうしたら良いですか？ </a></li>
<li><a href="#h473702c">  KPart を使っているアプリケーションをデバッグしているとき、デバッグシンボルがありません。どうするべきですか？ </a></li>
<li><a href="#x711b97e">  どうやって ioslave をデバッグするのですか？ </a></li></ul></li></ul></li></ul>
</div>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_1">一般的な質問  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?KDE%20Developer%A4%CE%A4%BF%A4%E1%A4%CE%20FAQ#w73ed999" id="w73ed999" title="w73ed999">†</a></h3>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_2">新しいアプリケーションを書き始めたいのですが、何かアドバイスはありますか？  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?KDE%20Developer%A4%CE%A4%BF%A4%E1%A4%CE%20FAQ#o4607180" id="o4607180" title="o4607180">†</a></h4>
<p>新たに書かなければいけない KDE アプリケーションがたくさんあるのは間違いありません。しかし、 あなたの助けを必要とする既存の KDE アプリケーションがたくさんあるのも確かです。</p>
<p>どの分野に助けが必要か知るには、<a href="http://www.kde.org/jobs.html" rel="nofollow">このページ</a>をチェックしてください。</p>
<p>新しいアプリケーションを書き始める前に、<a href="http://apps.kde.com" rel="nofollow">apps.kde.com</a> や <a href="mailto:kde-devel@kde.org" rel="nofollow">kde-devel@kde.org</a> のメーリングリストで、誰かが似たようなプロジェクトをしていないかどうか確かるのは良いことです。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_3">私は開発者です。どうすれば KDE に貢献できますか？  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?KDE%20Developer%A4%CE%A4%BF%A4%E1%A4%CE%20FAQ#x3f532e9" id="x3f532e9" title="x3f532e9">†</a></h4>
<p><a href="http://www.kde.org/jobs/jobs-open.html" rel="nofollow">job list</a> でオープンな仕事をチェックして下さい。あなたができる仕事は必ず１つはあるでしょう。</p>
<p>KOffice や Kdevelop などは高く評価されているにもかかわらず、開発者がとても少ないです。ですからそのあたりをチェックすると良いかも知れません。KDE のプロジェクトを手助けするのに、KDE のコアの開発者になる必要はりません。KDE は非常にうまくモジュール化されているので、全体のシステムがどうなっているか知らなくても、１つの分野を改良することができます。</p>
<p>また、kde-devel メーリングリストで、誰かがアプリケーション上での手助けを必要としているか質問することができます。</p>
<p>最新の KDE を使い必要とされていることを見付けて下さい。テーマジェネレータですか？konsole のスキーマエディタですか？ゲームの改良ですか？いつも小さな特徴が抜けているものです。実装してしまいましょう。</p>
<p>特定の分野に関してくわしかったり、興味があったりしますか？あなたの手助けが役に立つその分野に関連するアプリケーションがないかチェックして下さい。もしくはそのようなアプリを書いて下さい。KDE はおたく向けではないアプリケーションをもっと必要としています。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_4">私は開発者ではありません。どうすればお手伝いできますか？  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?KDE%20Developer%A4%CE%A4%BF%A4%E1%A4%CE%20FAQ#x447960b" id="x447960b" title="x447960b">†</a></h4>
<p>開発者のスキルを必要としない仕事がたくさんあります。KDE の促進のためにアプリケーションのレビューを書いたり(kde-promo メーリングリストを見て下さい)、ドキュメントチームを手伝ったり(<a href="http://i18n.kde.org/doc" rel="nofollow">i18n.kde.org/doc</a> を見て下さい)、翻訳を手伝ったり(<a href="http://i18n.kde.org/" rel="nofollow">i18n.kde.org</a>を見て下さい)、新しく出てくるバグをフィルタリングするのを手伝って下さい(<a href="http://bugs.kde.org/" rel="nofollow">bugs.kde.org</a> を見て下さい)。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_5">Konqui dragon の画像はどこで手に入れることができますか？  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?KDE%20Developer%A4%CE%A4%BF%A4%E1%A4%CE%20FAQ#bf729429" id="bf729429" title="bf729429">†</a></h4>
<p><a href="ftp://ftp.kde.org/pub/kde/devel/konqi_sdk.tar.bz2" rel="nofollow">ftp://ftp.kde.org/pub/kde/devel/konqi_sdk.tar.bz2</a> で入手可能です。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_6">KDE に貢献するのに必要なスキルのレベルはどの程度ですか？何を学んでおくべきですか？何を読んでおくべきですか？  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?KDE%20Developer%A4%CE%A4%BF%A4%E1%A4%CE%20FAQ#db611f6e" id="db611f6e" title="db611f6e">†</a></h4>
