---
title: Kastle 2003：Qt4に何を期待するか - 旧 Wiki アーカイブ
---

<p>元記事：<a href="http://dot.kde.org/1061880936/" rel="nofollow">"Kastle 2003: What to expect from Qt 4"</a></p>
<p>間違いを見つけたら、どんどん修正しちゃってください。<br/>
また、直接編集しにくい場合には、一番下のコメント投稿機能を利用してみてください。</p>
<h2 id="content_1_0">翻訳  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?Kastle%202003%A1%A7Qt4%A4%CB%B2%BF%A4%F2%B4%FC%C2%D4%A4%B9%A4%EB%A4%AB#m32f61bf" id="m32f61bf" title="m32f61bf">†</a></h2>
<p>日曜日の午後、Qtの開発ディレクターであるMatthias Ettrich氏は、<a href="http://www.greentech.cz/" rel="nofollow">Nové Hrady</a>で開催された<a href="http://events.kde.org/info/kastle/" rel="nofollow">KDE Developers' Conference 2003</a>において、<a href="http://konsole.kde.org/NoveHrady2003/Day2/dscf0127.jpg" rel="nofollow">企業(Trolltech)のプレゼンテーション</a>とは別に、<a href="http://konsole.kde.org/NoveHrady2003/Day2/dscf0130.jpg" rel="nofollow">the KDE/FreeQt Foundation</a>とQtの開発におけるのこれまでとQt4に対する展望について話をする機会を与えられた。Qt4は、2004年にリリースされる予定であり、スタートアップや実行時におけるパフォーマンスの向上、より高い柔軟性と生産性、そして、学習プロセスの簡素化のための変更などが提供されるはずです。Matthias氏の自作のプレゼンテーションプログラムを使って表示されたスライドショーからのより多くの引用を読んで下さい。</p>
<p><br/>
Qt4は、大概は、検索や置換や「互換モード」といったコンパイルスイッチをほとんど使うことなく、ソースコード互換性が維持されるように試みられています。より多くのポーティングは、メタオブジェクトシステムを直接使うようなスタイルとコードにとって必須でしょう。</p>
<p>シンボルの削減、データの読み書きを減らし、静的な初期化をより僅かにすることで、スタートアップのパフォーマンスの向上が達成されるでしょう。また、mallocの回数の低下、より速くそしてさらに最適化されたツールクラス、メモリ消費の減少によって実行時のパフォーマンスが向上し、今日のデスクトップコンピュータよりも遅く、少ないメモリしか積んでないような組み込みデバイス上でもQt4が動作することが可能になるでしょう。</p>
<p><br/>
これらの発言を確固としたものにするために、Matthias氏は、Qt4でコンパイルするために必要なだけの変更をし、ポーティングしたQtデザイナーについて、いくつかの数字を提供しました。その内容は次の通りです。libqtのサイズは5%減少し、Qtデザイナーのリロケーションの数は30%減少し、mallocの回数は51%減少し、メモリの使用量は15%減少しました。また、正確に計ったQtデザイナーの起動時間は、18%減少しました。</p>
<p><br/>
Qt4は、1つのライブラリにはならず、より細かい粒度を可能とするよう、複数のライブラリによって構成されるようになります。例えば、以下の通り。</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>ツール、IO、スレッドなどのクラスやQObject/Q<span class="noexists">KernelApplication<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=KernelApplication&amp;refer=Kastle%202003%A1%A7Qt4%A4%CB%B2%BF%A4%F2%B4%FC%C2%D4%A4%B9%A4%EB%A4%AB">?</a></span>から成るQtカーネルライブラリ</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>QApplication、ウィジェット、ペインタなどのQt GUIライブラリ</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>ネットワーク、XML、SQL、openGLおよびその他の目的のためのその他のライブラリ</li></ul>
<p>Qt4の新機能で、現時点で公開されているものの一部としては、以下のものがあります。</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>Qtデザイナーは、コンポーネントに分割されます。これによってKDevelopのためのフォームエディタのプラグインを作ることが可能になります。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>リストボックス、ツリー・ビュー、アイコン・ビューのためのモデル/ビュークラスを分離します。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>タブ化したドックをサポートしている、ドックウィンドウとツールバーを区別したメインウィンドウ/ドッキングのアーキテクチャの一部を成す新しいクラスのセット。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>マッキントッシュプラットフォームとATKのためのアクセシビリティ・サポート。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>Pixmapリソースシステム。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>異なるAPIの統合やコンセプトの数を削減するといった、APIのクリーンアップ。これは、一般的な使用法を簡略にし、柔軟性を増加させ、困惑させられることを無くすことを目的としています。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>驚く程少ない生成コード量とconnect()における最小のメモリオーバヘッドを持つ、静的な読み込み専用データブロック（コンストラクタも無く、クリーンアップ・ハンドラも無く、リロケーションも無く、シンボルも無い）を含んだメタデータ・オブジェクト。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>connect()のシンタックスの改善。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>文字列ベースのQObject::inherits()を置き換える新しいキャスト機構である"qt_cast(const QObject*)"。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>より軽くより速い、Q<span class="noexists">GuardedPtr<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=GuardedPtr&amp;refer=Kastle%202003%A1%A7Qt4%A4%CB%B2%BF%A4%F2%B4%FC%C2%D4%A4%B9%A4%EB%A4%AB">?</a></span>の後継である新しいQPointerクラス。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>イベントフィルタは修正され、現在は、QObject::event()ではなくてQApplication::notify()から呼ばれている。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>スレッド化されたライブラリは、よりthread-safety/reentrancyなものとしてデフォルトになるでしょう。自動的な参照のカウントによってQ<span class="noexists">DeepCopy<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=DeepCopy&amp;refer=Kastle%202003%A1%A7Qt4%A4%CB%B2%BF%A4%F2%B4%FC%C2%D4%A4%B9%A4%EB%A4%AB">?</a></span>は無用の長物になります。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>スタイルのセクションにおいて、パレットと背景の処理が以下のように改善されました。<br/>
背景のポリシーは、トップレベルでないウィジェットが、その親ウィジェットから背景のポリシーを継承しているものとして提供されます。親ウィジェットは、小ウィジェットに、その内容を伝播させることができます。これは、ウィジェットに対して、本質的には(半)透明な性質を与えるでしょう。そして、最後に、システム全体にダブルバッファリングの機能は、及ぶ何のハックもなしに、フリッカー効果の自由なアップデートを許容するでしょう。</li></ul>
<p><br/>
軽くて安全で使いやすい値ベースのコンテナ・ツールのクラスの、一貫した新しいセットをQt4は提供するでしょう。また、このコンテナ・ツールのクラスは、明示的に分けられ、スピードとメモリの使い方双方の点で高度に最適化されているでしょう。これを使うことは、Qt3.xやSTLの場合と比較されるようなわずかなコードまで拡大されていくでしょう。STLは、よりQtと共に使える状態になっているでしょう。</p>
<p><br/>
QStringとQ<span class="noexists">ByteArray<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=ByteArray&amp;refer=Kastle%202003%A1%A7Qt4%A4%CB%B2%BF%A4%F2%B4%FC%C2%D4%A4%B9%A4%EB%A4%AB">?</a></span>は、APIの改善の他に、パフォーマンスとメモリ使用の点について最適化されています。(そのAPIの改善における)重要な変更は、isNull()が無くなり、互換モードでのみ用意されます。latin1()のような関数は、常に妥当な値を返し、nullポインタを返すことは無くなるでしょう。この変更は、KDE開発者の間での議論となり反感をかいましたが、Matthias氏は、isEmpty()関数と演算子"!()"が存在していることを指摘しました。</p>
<p><br/>
Qt4は、来年中に最終リリース前の短いパブリックベータの期間を経て、１年以内に利用できるでしょう。これに加えて、Matthias氏がKDE開発者に対して質問をしました。その内容は、「KDEはQt4に移行するのか？ 移行するとすればいつか？」、「KDEが移行するとき誰がどこで最初のポーティングを行うのか？」、「KDEのアーキテクチャのいくつかを書き直す機会としても使いますか？」といったものでした。多くのKDE開発者からの返答としては、hackfest週間において、KDEに必要とされていて長期間見あたらないと分かっているような追加されたクラスや機能について、Trolltech開発者にたずねるというものでしょう。</p>
<div class="counter">
Counter:   44,
today:     1,
yesterday: 0
</div>
<hr class="full_hr"/>
<p>直接編集しにくい場合には、こちらからコメントを投稿してください。</p>
<form action="http://www.kde.gr.jp/pukiwiki/index.php" enctype="multipart/form-data" method="post">
<div><input name="encode_hint" type="hidden" value="ぷ"/></div>
<div>
<div class="ie5"><table border="0" cellspacing="1" class="style_table"><tbody><tr><th class="style_th" style="text-align:center;"><strong>お名前</strong></th><td class="style_td"><input name="name" size="20" type="text" value=""/></td></tr><tr><th class="style_th" style="text-align:center;"><strong>サマリ</strong></th><td class="style_td"><input name="summary" size="60" type="text" value=""/> <span style="font-size:12px;display:inline-block;line-height:130%;text-indent:0px">要旨を簡潔にお願いします。</span></td></tr><tr><th class="style_th" style="text-align:center;"><strong>コメント</strong></th><td class="style_td"><textarea cols="60" name="comment" rows="10"></textarea></td></tr><tr><td class="style_td" colspan="2" style="text-align:center;"><input type="submit" value="追加"/>
<input name="plugin" type="hidden" value="tracker"/>
<input name="_refer" type="hidden" value="Kastle 2003：Qt4に何を期待するか"/>
<input name="_base" type="hidden" value="Kastle 2003：Qt4に何を期待するか/コメント"/>
<input name="_config" type="hidden" value="comment"/></td></tr></tbody></table></div>
</div>
</form>
<p><strong>コメントのリスト</strong></p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table"><thead><tr><th class="style_th"><a href="http://www.kde.gr.jp/pukiwiki/index.php?plugin=tracker_list&amp;refer=Kastle%202003%A1%A7Qt4%A4%CB%B2%BF%A4%F2%B4%FC%C2%D4%A4%B9%A4%EB%A4%AB%2F%A5%B3%A5%E1%A5%F3%A5%C8&amp;config=comment&amp;list=list&amp;order=name%3A4" rel="nofollow">投稿者</a></th><th class="style_th"><a href="http://www.kde.gr.jp/pukiwiki/index.php?plugin=tracker_list&amp;refer=Kastle%202003%A1%A7Qt4%A4%CB%B2%BF%A4%F2%B4%FC%C2%D4%A4%B9%A4%EB%A4%AB%2F%A5%B3%A5%E1%A5%F3%A5%C8&amp;config=comment&amp;list=list&amp;order=summary%3A4" rel="nofollow">サマリ</a></th><th class="style_th">投稿日</th></tr></thead><tbody><tr><td class="style_td"><a href="http://www.kde.gr.jp/pukiwiki/index.php?Daisuke%20Kameda" title="Daisuke Kameda (2765d)">Daisuke Kameda</a></td><td class="style_td"><a href="http://www.kde.gr.jp/pukiwiki/index.php?Kastle%202003%A1%A7Qt4%A4%CB%B2%BF%A4%F2%B4%FC%C2%D4%A4%B9%A4%EB%A4%AB%2F%A5%B3%A5%E1%A5%F3%A5%C8%2F1" title="Kastle 2003：Qt4に何を期待するか/コメント/1 (3548d)">コメント投稿のテスト</a></td><td class="style_td">2003-08-31 (日) 16:11:53</td></tr></tbody></table></div>
