---
title: KBabel - 旧 Wiki アーカイブ
---

<p>KBabel は古いアプリケーションです。<a href="http://www.kde.gr.jp/pukiwiki/index.php?Lokalize" title="Lokalize (1069d)">Lokalize</a> を使用してください。</p>
<p><span class="noexists">kdesdk<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=kdesdk&amp;refer=KBabel">?</a></span></p>
<p>本家ページ : <a href="http://i18n.kde.org/tools/kbabel/" rel="nofollow">http://i18n.kde.org/tools/kbabel/</a> …はもうリンク切れのようです…。</p>
<h2 id="content_1_0">解説  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?KBabel#kf1ba7c7" id="kf1ba7c7" title="kf1ba7c7">†</a></h2>
<p>ここではKBabelの最低限の設定と使用法について説明します。<br/>
Debianユーザの方は、<a href="http://www.topstudio.co.jp/~kmuto/open.cgi?Debian%e7%9a%84KDEpo%e4%bd%9c%e6%a5%ad%e6%96%b9%e6%b3%95&amp;l=jp" rel="nofollow">こちら</a>も参考にしてください。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_1">KBabelとは  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?KBabel#xfd4935c" id="xfd4935c" title="xfd4935c">†</a></h3>
<p>KBabelはKDEの翻訳チームが使用している翻訳補助ツールです。検索機能、使い勝手、UTF8エンコーディング、エラーチェック機能などの面において、強力な機能を持っています。KDEだけでなく他の翻訳プロジェクトの人にも有用なツールでしょう。</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_2">インストール  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?KBabel#n53ddd8a" id="n53ddd8a" title="n53ddd8a">†</a></h3>
<p>ここではKBabel-1.0.2（KDE3.1.xに含まれているもの）を対象として説明します。KBabelはkdesdkに含まれていますので、通常は、ディストリビュータで配布されているパッケージをインストールするのが良いでしょう。もし自分でコンパイルしてインストール場合には、libdb-4.xなどが必要になります。</p>
<p>コンパイル手順は以下の通りです。
./configure --prefix=$KDEDIR
make
su
make install</p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h3 id="content_1_3">KBabelの設定  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?KBabel#tf6b99e5" id="tf6b99e5" title="tf6b99e5">†</a></h3>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_4">KBabel本体の設定  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?KBabel#h063af53" id="h063af53" title="h063af53">†</a></h4>
<p>KBabelを立ち上げると魚のスプラッシュスクリーンの後にKBabelが立ち上がります。<br/>
初回立ち上げ時は、下の画像のような設定の入力を求めるダイアログが出て来ます。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table"><tbody><tr><td class="style_td" style="text-align:center;"><a href="http://www.kde.gr.jp/pukiwiki/index.php?plugin=attach&amp;refer=KBabel&amp;openfile=kbabel1.png" title="around,画面1：設定の入力を求めるダイアログ]"><img alt="around,画面1：設定の入力を求めるダイアログ]" height="259" src="http://www.kde.gr.jp/pukiwiki/index.php?plugin=ref&amp;page=KBabel&amp;src=kbabel1.png" title="around,画面1：設定の入力を求めるダイアログ]" width="539"/></a></td></tr><tr><td class="style_td" style="text-align:center;"><strong>画面1：設定の入力を求めるダイアログ</strong></td></tr></tbody></table></div>
<p>「OK」を押すと次の画面になります。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table"><tbody><tr><td class="style_td" style="text-align:center;"><a href="http://www.kde.gr.jp/pukiwiki/index.php?plugin=attach&amp;refer=KBabel&amp;openfile=kbabel2.png" title="画面2：設定ダイアログ - 個人情報"><img alt="画面2：設定ダイアログ - 個人情報" height="518" src="http://www.kde.gr.jp/pukiwiki/index.php?plugin=ref&amp;page=KBabel&amp;src=kbabel2.png" title="画面2：設定ダイアログ - 個人情報" width="718"/></a></td></tr><tr><td class="style_td" style="text-align:center;"><strong>画面2：KBabelの設定ダイアログ - 個人情報</strong></td></tr></tbody></table></div>
<p>ここには自分の名前とメールアドレスを入力して下さい。「ローカルな名前」もローマ字のままで問題ないでしょう。<br/>
そのほかの情報は上の画面を参考にして下さい。</p>
<p>個人情報の他の設定項目としては「編集」、「保存」、「スペルチェック」、「差異表示(Diff)」、「ソース」、「その他」があります。<br/>
そのうち「編集」、「スペルチェック」、「差異表示(Diff)」、「ソース」、「その他」に関しては特に変更する必要はないでしょう。</p>
<p><br/>
次に「保存」の設定です。ここでは、「一般」についての設定をします。<br/>
その他の「ヘッダ」と「著作権表示」については、変更する必要はないでしょう。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table"><tbody><tr><td class="style_td" style="text-align:center;"><a href="http://www.kde.gr.jp/pukiwiki/index.php?plugin=attach&amp;refer=KBabel&amp;openfile=kbabel4.png" title="画面4：KBabelの設定ダイアログ - 保存(一般)"><img alt="画面4：KBabelの設定ダイアログ - 保存(一般)" height="518" src="http://www.kde.gr.jp/pukiwiki/index.php?plugin=ref&amp;page=KBabel&amp;src=kbabel4.png" title="画面4：KBabelの設定ダイアログ - 保存(一般)" width="718"/></a></td></tr><tr><td class="style_td" style="text-align:center;"><strong>画面4：KBabelの設定ダイアログ - 保存(一般)</strong></td></tr></tbody></table></div>
<p>ここで重要なのはエンコーディングです。これは<span style="font-size:18px;display:inline-block;line-height:130%;text-indent:0px"><span style="color:red"><strong>必ずUTF8にして下さい</strong></span></span>。KDE3.xではほとんどの文字を<br/>
内部でUTF8で扱っています。メッセージカタログもja.poは全てUTF8になっています。KBabelで<br/>
メッセージカタログを扱う分にはほとんど意識しないで済むので、ここは必ずUTF8にして下さい。</p>
<p><br/>
次に「検索」の設定を行います。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table"><tbody><tr><td class="style_td" style="text-align:center;"><a href="http://www.kde.gr.jp/pukiwiki/index.php?plugin=attach&amp;refer=KBabel&amp;openfile=kbabel3.png" title="画面3：KBabelの設定ダイアログ - 検索"><img alt="画面3：KBabelの設定ダイアログ - 検索" height="518" src="http://www.kde.gr.jp/pukiwiki/index.php?plugin=ref&amp;page=KBabel&amp;src=kbabel3.png" title="画面3：KBabelの設定ダイアログ - 検索" width="718"/></a></td></tr><tr><td class="style_td" style="text-align:center;"><strong>画面3：KBabelの設定ダイアログ - 検索</strong></td></tr></tbody></table></div>
<p>検索は、翻訳中にデータベース（3種類ありますがこれの設定は後で説明します）の中から検索してきて<br/>
操作画面の右下部に表示してくれるという機能です。「自動的に検索を開始」にチェックを入れておくと、<br/>
次のメッセージに移動したときに自動的に検索を開始して表示してくれます。</p>
<p>ちなみに3種類というのは以下の通りです。</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>翻訳データベース：内蔵データベースシステムによってローカルにあるファイルからインデックスを作成します。</li>
<li>po補助：今までに翻訳されたものを合わせた日本語翻訳ファイルから検索します。</li>
<li>po要約：他の言語(ドイツ語とか)のファイルから該当語を探して来ます。通常は必要ないでしょう。</li></ul>
<p>相当遅いマシンならともかく、普通のマシンなら数分でインデックスを作成できるので<br/>
翻訳データベースを使用するのがよいでしょう。</p>
<p>設定については、辞書の設定のところで説明します。</p>
<p><br/>
以上で本体の設定は終了です。なおこれらはメニューバーの「設定」→「KBabelの設定」から再設定できます。</p>
<p><br/></p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_5">カタログマネージャの設定  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?KBabel#jc915103" id="jc915103" title="jc915103">†</a></h4>
<p>まず、メニューバーの「ツール」→「カタログマネージャ」で、カタログマネージャを起動します。</p>
<p>すると、カタログマネージャの起動とともに、下のようなダイアログが出てきます。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table"><tbody><tr><td class="style_td" style="text-align:center;"><a href="http://www.kde.gr.jp/pukiwiki/index.php?plugin=attach&amp;refer=KBabel&amp;openfile=kbabel5.png" title="画面5：カタログマネージャの設定を求めるダイアログ"><img alt="画面5：カタログマネージャの設定を求めるダイアログ" height="150" src="http://www.kde.gr.jp/pukiwiki/index.php?plugin=ref&amp;page=KBabel&amp;src=kbabel5.png" title="画面5：カタログマネージャの設定を求めるダイアログ" width="478"/></a></td></tr><tr><td class="style_td" style="text-align:center;"><strong>画面5：カタログマネージャの設定を求めるダイアログ</strong></td></tr></tbody></table></div>
<p>「OK」を押し、カタログマネージャのメニューバーから「設定」→「カタログマネージャの設定」を選ぶと、次の画面になります。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table"><tbody><tr><td class="style_td" style="text-align:center;"><a href="http://www.kde.gr.jp/pukiwiki/index.php?plugin=attach&amp;refer=KBabel&amp;openfile=kbabel6.png" title="画面6：カタログマネージャの設定ダイアログ"><img alt="画面6：カタログマネージャの設定ダイアログ" height="371" src="http://www.kde.gr.jp/pukiwiki/index.php?plugin=ref&amp;page=KBabel&amp;src=kbabel6.png" title="画面6：カタログマネージャの設定ダイアログ" width="435"/></a></td></tr><tr><td class="style_td" style="text-align:center;"><strong>画面6：カタログマネージャの設定ダイアログ</strong></td></tr></tbody></table></div>
<p>まずテンプレートと日本語メッセージファイルを<a href="ftp://ftp.kde.gr.jp/pub/kde/messages/3.2/" rel="nofollow">ここ</a>からダウンロードします。<br/>
基本的に、最新のものを選んでくればOKです。<br/>
(ダウンロードするものは、「kde-i18n-ja」と「kde-i18n-templates」です。)</p>
<p>そして展開したディレクトリをそれぞれ上に指定します。<br/>
例えば/usr/local/extend/kde-i18nというディレクトリでこれらのファイルを<br/>
展開した場合は上の画面のようにします。</p>
<p>そして「OK」をクリックすると、指定したディレクトリが存在すれば下の画面のように、<br/>
翻訳の進捗状況の情報が生成されます。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table"><tbody><tr><td class="style_td" style="text-align:center;"><a href="http://www.kde.gr.jp/pukiwiki/index.php?plugin=attach&amp;refer=KBabel&amp;openfile=kbabel7.png" title="画面7：カタログマネージャの進捗状況の生成画面"><img alt="画面7：カタログマネージャの進捗状況の生成画面" height="328" src="http://www.kde.gr.jp/pukiwiki/index.php?plugin=ref&amp;page=KBabel&amp;src=kbabel7.png" title="画面7：カタログマネージャの進捗状況の生成画面" width="608"/></a></td></tr><tr><td class="style_td" style="text-align:center;"><strong>画面7：進捗状況の情報の生成画面</strong></td></tr></tbody></table></div>
<p><br/></p>
<div class="jumpmenu"><a href="#navigator">↑</a></div><h4 id="content_1_6">辞書の設定  <a class="anchor_super" href="http://www.kde.gr.jp/pukiwiki/index.php?KBabel#v5c80ade" id="v5c80ade" title="v5c80ade">†</a></h4>
<p>続いては、辞書の設定です。<br/>
辞書の設定はメニューバーの「設定」→「辞書の設定」で行います。</p>
<p><br/>
<strong>・翻訳データベースの設定</strong><br/>
「辞書の設定」から「翻訳データベース」を選択すると設定ダイアログが現れます。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table"><tbody><tr><td class="style_td" style="text-align:center;"><a href="http://www.kde.gr.jp/pukiwiki/index.php?plugin=attach&amp;refer=KBabel&amp;openfile=kbabel8.png" title="画面8：辞書 翻訳データベースの設定ダイアログ"><img alt="画面8：辞書 翻訳データベースの設定ダイアログ" height="508" src="http://www.kde.gr.jp/pukiwiki/index.php?plugin=ref&amp;page=KBabel&amp;src=kbabel8.png" title="画面8：辞書 翻訳データベースの設定ダイアログ" width="486"/></a></td></tr><tr><td class="style_td" style="text-align:center;"><strong>画面8：辞書 翻訳データベースの設定ダイアログ</strong></td>t   r   &gt;   /   t   b   o   d   y   &gt;   /   t   a   b   l   e   &gt;   /   d   i   v   &gt;
   </tr></tbody></table></div>
