---
title: KDE 3.0 アーキテクチャ/開発フレームワーク/ライブラリ構造 - 旧 Wiki アーカイブ
---

<p><a href="http://www.kde.gr.jp/pukiwiki/index.php?KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3" title="KDE 3.0 アーキテクチャ (461d)">KDE 3.0 アーキテクチャ</a></p>
<p>オリジナル : <a href="http://techbase.kde.org/Development/Architecture/KDE3/Library_Structure" rel="nofollow">http://techbase.kde.org/Development/Architecture/KDE3/Library_Structure</a></p>
<p>KDEライブラリ構造の概観</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>kdecore<br/>
kdecoreライブラリはすべてのKDEプログラムの基本となるアプリケーションフレームワークです。
設定システムへのアクセス、コマンドライン処理、iconのローディングと処理、特殊な内部プロセスコミュニケーション、ファイル処理、そしてその他多くの機能を提供します。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>kdeui<br/>
kdeuiライブラリはQtが持っていない、あるいはQtのウィジットよりも強力な多くのウィジットや標準的なダイアログを提供します。
また、ユーザーの好みという点でよりKDEデスクトップに統合しているQtのウィジットのサブクラスを提供します。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>kio<br/>
kioライブラリは非同期の、ネットワーク透過なI/OやMIMEタイプ処理の為の機能を含んでいます。
また、KDEのファイルダイアログやそれを補助するクラス群を提供します。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>kjs<br/>
kjsライブラリは<span class="noexists">JavaScript<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=JavaScript&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span>の実装を提供します。</li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>khtml<br/>
khtmlライブラリはKHTMLパート、つまりJavaと<span class="noexists">JavaScript<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=JavaScript&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span>のインターフェースを含むHTMLブラウジングウィジット、そしてDOM APIとパーサを提供します。</li></ul>
<p>グループ化されたクラス</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>コアアプリケーションの骨格 - ほとんどすべてのアプリケーションに必要とされるクラス群
<ul class="list2" style="padding-left:16px;margin-left:16px"><li>KApplication - KDEアプリケーションを初期化し、コントロールします</li>
<li>K<span class="noexists">UniqueApplication<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=UniqueApplication&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span> - 同時に同じアプリケーションが1つしか実行されないことを保障します</li>
<li>K<span class="noexists">AboutData<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=AboutData&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span> - aboutダイアログのための情報を保持します</li>
<li>K<span class="noexists">CmdLineArgs<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=CmdLineArgs&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span> - コマンドラインの引数の処理</li></ul></li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>コンフィグレーション設定 - KDEの階層的な、構成データベース・一般設定・アプリケーションリソースにアクセスします。
<ul class="list2" style="padding-left:16px;margin-left:16px"><li>KConfig - KDEの構成データベースへのアクセスを提供します</li>
<li>K<span class="noexists">SimpleConfig<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=SimpleConfig&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span> - 非階層てきな構成ファイルへのアクセスを提供</li>
<li>K<span class="noexists">DesktopFile<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=DesktopFile&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span> - .desktopファイルへのアクセスを提供</li>
<li>K<span class="noexists">GlobalSettings<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=GlobalSettings&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span> - アプリケーションに依存しない設定へのアクセスを提供</li></ul></li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>ファイルとURL処理 - URLのデコード、一時ファイル等
<ul class="list2" style="padding-left:16px;margin-left:16px"><li>KURL - URLを現し、パースします</li>
<li>K<span class="noexists">TempFile<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=TempFile&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span> - 一時ファイルの為のファイルを作成します</li>
<li>K<span class="noexists">SaveFile<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=SaveFile&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span> - ファイルの保存を許可します</li></ul></li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>内部プロセスコミュニケーション - DCOPを補助するクラスとサブプロセスの起動
<ul class="list2" style="padding-left:16px;margin-left:16px"><li>KProcess - 子プロセスを起動し、操作します</li>
<li>K<span class="noexists">ShellProcess<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=ShellProcess&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span> - シェルを通して子プロセスを起動</li>
<li>KIPC - X11クライアントメッセージを利用したシンプルなIPCメカニズム</li>
<li>DCOPClient - DCOPメッセージング</li>
<li>KDCOP<span class="noexists">PropertyProxy<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=PropertyProxy&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span> - DCOPを通してQtのプロパティを発行するためのプロキシクラス</li>
<li>KDCOP<span class="noexists">ActionProxy<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=ActionProxy&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span> - アクションのためのDCOPインターフェースを発行するためのプロキシクラス</li></ul></li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>ユーティリティ - メモリ管理、正規表現、文字列操作、乱数
<ul class="list2" style="padding-left:16px;margin-left:16px"><li>K<span class="noexists">RegExp<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=RegExp&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span> - POSIX準拠正規表現</li>
<li>K<span class="noexists">StringHandler<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=StringHandler&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span> - 文字列操作のための豊富なインターフェース</li>
<li>K<span class="noexists">ZoneAllocator<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=ZoneAllocator&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span> - 小さなオブジェクトを多数確保するために有効なアロケータ</li>
<li>K<span class="noexists">RandomSequence<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=RandomSequence&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%B3%AB%C8%AF%A5%D5%A5%EC%A1%BC%A5%E0%A5%EF%A1%BC%A5%AF%2F%A5%E9%A5%A4%A5%D6%A5%E9%A5%EA%B9%BD%C2%A4">?</a></span> - 疑似的な乱数生成</li></ul></li></ul>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>キーボードアクセレータ - デスクトップ上で一貫したキーバインディングを実現するためのクラス群
<ul>c   l   a   s   s   =   "   l   i   s   t   2   "       s   t   y   l   e   =   "   p   a   d   d   i   n   g   -   l   e   f   t   :   1   6   p   x   ;   m   a   r   g   i   n   -   l   e   f   t   :   1   6   p   x   "   &gt;   </ul></li></ul>
