---
title: KDE 3.0 アーキテクチャ/システムリソースへのアクセス/アイコンのローディング - 旧 Wiki アーカイブ
---

<p><a href="http://www.kde.gr.jp/pukiwiki/index.php?KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3" title="KDE 3.0 アーキテクチャ (461d)">KDE 3.0 アーキテクチャ</a></p>
<p>オリジナル : <a href="http://developer.kde.org/documentation/library/kdeqt/kde3arch/iconloader.html" rel="nofollow">http://developer.kde.org/documentation/library/kdeqt/kde3arch/iconloader.html</a></p>
<hr class="full_hr"/>
<p><strong>Loading and installing icons in KDE</strong></p>
<p>1. 初めに</p>
<p>アイコンはどのデスクトップ環境においても重要なユーザーインターフェースの一部です。<br/>
ユーザーの設定やビデオハードウェアが原因で、同じアイコンでも、異なったサイズや色深度で表示されます。<br/>
これを制御するために、アイコンを保存し、またアクセスする為の標準的な方法が開発されています。</p>
<p>2. Loading icons</p>
<p>アイコンローダーへのアクセス</p>
<p>アイコンはK<span class="noexists">IconLoader<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=IconLoader&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%A5%B7%A5%B9%A5%C6%A5%E0%A5%EA%A5%BD%A1%BC%A5%B9%A4%D8%A4%CE%A5%A2%A5%AF%A5%BB%A5%B9%2F%A5%A2%A5%A4%A5%B3%A5%F3%A4%CE%A5%ED%A1%BC%A5%C7%A5%A3%A5%F3%A5%B0">?</a></span>クラスを用いてロードされます。<br/>
どのKDEアプリケーションもグローバルアイコンローダを所持しています。<br/>
このオブジェクトには下の様な方法でアクセスできます。</p>
<pre>#include &lt;kglobal.h&gt;
#include &lt;kiconloader.h&gt;

KIconLoader *loader = KGlobal::iconLoader();</pre>
<p>loadIconを使ってアイコンをロード</p>
<p>アイコンローダはアイコンをロードし、キャッシュを作り、エフェクトを加えます。
アイコンをロードするには、loadIconメソッドを使います。このように定義されています。</p>
<pre>QPixmap loadIcon(QString name, int group, int size=0,
                int state=KIcon::DefaultState, QString *path_store=0L,
                bool canReturnNull=false);</pre>
<p>上のように、多くの引数を取ります。最初の二つは最も重要です。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table">
<tr class="style_tr"><td class="style_td">name</td><td class="style_td">ロードするアイコンの名前。拡張子なしにiconの名前を指定しなければなりません。</td></tr>
<tr class="style_tr"><td class="style_td">group</td><td class="style_td">アイコングループ。下で説明します.</td></tr>
</table></div>
<p>アイコングループ</p>
<p>アイコングル‐プという考え方はKDEのアイコンの仕組みのなかで重要な概念です。<br/>
アイコングループはそのアイコンがスクリーン上のどこで使用されるかを現しています。<br/>
KDEユーザーはアイコンのサイズと視覚効果を設定できるので、これは関連性があります。<br/>
アイコングループをアイコンローダーに渡すということは、実際にはどのアイコンの実体をロードするのかをローダーに指定するということになります。<br/>
グループの引数を取ることによって、アイコンローダーはKDEデスクトップ全体のアイコンの一貫した、そして設定可能な見映えを可能にします。</p>
<p>例 : ユーザーは32ピクセルのアイコンをメインツールバーに設定できます。</p>
<p>利用できるアイコングループは下の通りです。これら全てはKIconクラスで宣言されています。<br/>
なので実際にはこれらの前にKIcon::をつけて使用します。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table">
<tr class="style_tr"><td class="style_td">Desktop</td><td class="style_td">デスクトップ上のアイコン。ファイルマネージャーやそれに似た場所で使用されます。</td></tr>
<tr class="style_tr"><td class="style_td">Toolbar</td><td class="style_td">通常のツールバー用</td></tr>
<tr class="style_tr"><td class="style_td"><span class="noexists">MainToolbar<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=MainToolbar&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%A5%B7%A5%B9%A5%C6%A5%E0%A5%EA%A5%BD%A1%BC%A5%B9%A4%D8%A4%CE%A5%A2%A5%AF%A5%BB%A5%B9%2F%A5%A2%A5%A4%A5%B3%A5%F3%A4%CE%A5%ED%A1%BC%A5%C7%A5%A3%A5%F3%A5%B0">?</a></span></td><td class="style_td">メインツールバー用のアイコン。アプリケーションはいくつかのツールバーを持ちますが、これはメインツールバー用です。通常は外のツールバーよりも大きなアイコンを持ちます。</td></tr>
<tr class="style_tr"><td class="style_td">Small</td><td class="style_td">例えばポップアップメニューやリストビュー、ツリーリストで用いられるような様々な小アイコン</td></tr>
<tr class="style_tr"><td class="style_td">User</td><td class="style_td">アプリケーション特化のアイコンをロードするためのグループ。これについてはsection3を見て下さい。</td></tr>
</table></div>
<p>Desktopグループで"kfind"アイコンをロードするには以下のようにします。</p>
<pre>QPixmap icon;
icon = loader-&gt;loadIcon("kfind", KIcon::Desktop);</pre>
<p>外のパラメータも見てみましょう。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table">
<tr class="style_tr"><td class="style_td">size</td><td class="style_td">特定のアイコングループに設定されたサイズを上書きします。影響はそのグループのアイコン全体に及びます。</td></tr>
<tr class="style_tr"><td class="style_td">state</td><td class="style_td">アイコンの状態を示します。stateはKIcon::<span class="noexists">DefaultState<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=DefaultState&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%A5%B7%A5%B9%A5%C6%A5%E0%A5%EA%A5%BD%A1%BC%A5%B9%A4%D8%A4%CE%A5%A2%A5%AF%A5%BB%A5%B9%2F%A5%A2%A5%A4%A5%B3%A5%F3%A4%CE%A5%ED%A1%BC%A5%C7%A5%A3%A5%F3%A5%B0">?</a></span>、KIcon::<span class="noexists">ActiveState<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=ActiveState&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%A5%B7%A5%B9%A5%C6%A5%E0%A5%EA%A5%BD%A1%BC%A5%B9%A4%D8%A4%CE%A5%A2%A5%AF%A5%BB%A5%B9%2F%A5%A2%A5%A4%A5%B3%A5%F3%A4%CE%A5%ED%A1%BC%A5%C7%A5%A3%A5%F3%A5%B0">?</a></span>、KIcon::<span class="noexists">DisableState<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=DisableState&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%A5%B7%A5%B9%A5%C6%A5%E0%A5%EA%A5%BD%A1%BC%A5%B9%A4%D8%A4%CE%A5%A2%A5%AF%A5%BB%A5%B9%2F%A5%A2%A5%A4%A5%B3%A5%F3%A4%CE%A5%ED%A1%BC%A5%C7%A5%A3%A5%F3%A5%B0">?</a></span>のうちのどれかです。例えばツールバーのボタンは、マウスが上に有るときはactiveに、有効でない時はdisableに、それ以外のときはdefaultになっています。それぞれの状態は視覚的にも変ります。</td></tr>
<tr class="style_tr"><td class="style_td">path_store</td><td class="style_td">アイコンがどこからロードされたか知りたければ、ここにQStringのポインタを渡すとアイコンのパスが保管されます。</td></tr>
<tr class="style_tr"><td class="style_td">can<span class="noexists">ReturnNull<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=ReturnNull&amp;refer=KDE%203.0%20%A5%A2%A1%BC%A5%AD%A5%C6%A5%AF%A5%C1%A5%E3%2F%A5%B7%A5%B9%A5%C6%A5%E0%A5%EA%A5%BD%A1%BC%A5%B9%A4%D8%A4%CE%A5%A2%A5%AF%A5%BB%A5%B9%2F%A5%A2%A5%A4%A5%B3%A5%F3%A4%CE%A5%ED%A1%BC%A5%C7%A5%A3%A5%F3%A5%B0">?</a></span></td><td class="style_td">アイコンが見付からなかった場合、結果はこのパラメータに依存します。canReturnNULLがtrueなら、null pixmapが返されます。そうでなければ"unknown"アイコンが返されます。</td></tr>
</table></div>
<p>3.アイコンのインストール</p>
<p>アイコンは様々なサイズや色深度になります。これをテーマアイコンと呼ぶことにします。<br/>
決まった形で表示されるものをテーマ化されていないアイコンと呼ぶことにします。</p>
<p>デフォルトアイコンサイズ</p>
<p>標準のアイコンのサイズは以下の通りです。</p>
<p>40 Colors:
16x16 pixels
22x22 pixels
32x32 pixels</p>
<p>Truecolor:
22x22 pixels
32x32 pixels
48x48 pixels</p>
<p>それぞれのサイズのアイコンサイズはアイコングループに設定できることを覚えて置いてください。</p>
<p>アイコンコンテクスト</p>
<p>テーマアイコンはディレクトリに階層的に保存されます。それは1.色深度、2.サイズ、3.コンテキストによります。<br/>
コンテキストというのはKDEアイコン機構で導入された新しい概念です。<br/>
アイコンが意味しているものがコンテキストです。標準のコンテキストには次のようなものがあります。</p>
<div class="ie5"><table border="0" cellspacing="1" class="style_table">
<tr class="style_tr"><td class="style_td">action</td><td class="style_td">例えば"Open"や"Save"といったツールバー内のアクションを示します</td></tr>
<tr class="style_tr"><td class="style_td">application</td><td class="style_td">"kfind"のようなアプリケーションを示します</td></tr>
<tr class="style_tr"><td class="style_td">device</td><td class="style_td">"floppy"や"mount"といったデバイスに関係の有るものを示します</td></tr>
<tr class="style_tr"><td class="style_td">filesystem</td><td class="style_td">"directory"や"socket"、"trashcan"といったファイルシステムに関連するものを示します</td></tr>
<tr class="style_tr"><td class="style_td">mimetype</td><td class="style_td">"text/html"のようなmimetypeを表します</td></tr>
</table></div>
<p>コンテキストはアイコンを選ぶ際に非常に重要となります。<br/>
アプリケーションがユーザーにアイコンを選んでもらう時、例えばツールバーなら、KDEにインストールされたすべてのアイコンを表示するのはユーザーフレンドリーではありません。<br/>
対照的に、ユーザーの為にに"action"アイコンだけを表示するのは非常に良いことです。</p>
