---
title: KIOの運用法 ― 旧 Wiki アーカイブ
---

<p><a href="http://www.kde.gr.jp/pukiwiki/index.php?kio" title="kio (3401d)">kio</a></p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>基本的な運用法</li></ul>
<pre>void startJob() {
    SomeJob* job = KIO::operation(url);
    QObject::connect(job, SIGNAL(result(KIO::Job *)),
                     this, SLOT(slotJobFinished(KIO::Job *)));
}

void slotJobFinished(KIO::Job *job) {
   if( job-&gt;error() ){
	job-&gt;showErrorDialog();
	return;
   }
}</pre>
<p>KIO::operationの箇所には自分の行いたい処理を記述します。<a href="http://developer.kde.org/documentation/library/cvs-api/kio/html/namespaceKIO.html" rel="nofollow">API参照</a></p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li><span class="noexists">SampleCode<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=SampleCode&amp;refer=KIO%A4%CE%B1%BF%CD%D1%CB%A1">?</a></span>
<ul class="list2" style="padding-left:16px;margin-left:16px"><li><a href="http://www.kde.gr.jp/pukiwiki/index.php?%28KIO%29get%A4%CE%A5%B5%A5%F3%A5%D7%A5%EB%A5%D7%A5%ED%A5%B0%A5%E9%A5%E0" title="(KIO)getのサンプルプログラム (3075d)">(KIO)getのサンプルプログラム</a>(解説)
<p>#ref(): The style ref(filename,pagename) is ambiguous and become obsolete. Please try ref(pagename/filename)</p>
</li></ul></li></ul>
<br/>
<form action="http://www.kde.gr.jp/pukiwiki/index.php" method="post">
<div><input name="encode_hint" type="hidden" value="ぷ"/></div>
<div>
<input name="plugin" type="hidden" value="comment"/>
<input name="refer" type="hidden" value="KIOの運用法"/>
<input name="comment_no" type="hidden" value="0"/>
<input name="nodate" type="hidden" value="0"/>
<input name="above" type="hidden" value="1"/>
<input name="digest" type="hidden" value="82dc9c4a4ad34e4e69f138262c34e97a"/>
<label for="_p_comment_name_0">お名前: </label><input id="_p_comment_name_0" name="name" size="15" type="text"/>
<input id="_p_comment_comment_0" name="msg" size="70" type="text"/>
<input name="comment" type="submit" value="コメントの挿入"/>
</div>
</form>
<div class="counter">
Counter:   35,
today:     1,
yesterday: 0
</div>
