---
title: (KIO)get のサンプルプログラム - 旧 Wiki アーカイブ
---

<p><a href="http://www.kde.gr.jp/pukiwiki/index.php?KIO%A4%CE%B1%BF%CD%D1%CB%A1" title="KIOの運用法 (2160d)">KIOの運用法</a></p>
<p>簡単にコードの解説を。</p>
<pre>kiosample::kiosample()
   : KMainWindow( 0, "kiosample" )
{
    // set the shell's ui resource file
    setXMLFile("kiosampleui.rc");

    setupGUI();

    isDownloading = false;
}

kiosample::~kiosample()
{
}</pre>
<p>コンストラクタ、デストラクタです。
デストラクタで何の処理も行っていないのは、下でnewするオブジェクト(QBuffer* downloadDateは除く)はすべてQOBjectを継承したクラスで、親を持っているので終了時にQtの機能としていもづる式にdeleteするためです。
<a href="http://www.kde.gr.jp/pukiwiki/index.php?%5B%5B%BB%B2%BE%C8%3AQt%2FKDE%A4%C7%A4%CEdelete%A4%CE%B5%F3%C6%B0%5D%5D" rel="nofollow" title="参照:Qt/KDEでのdeleteの挙動">参照:Qt/KDEでのdeleteの挙動</a></p>
<pre>void kiosample::setupGUI()
{
   QVBox* mainVBox = new QVBox(this);

   QHBox* srcHBox = new QHBox(mainVBox);
   QLabel* srcLabel = new QLabel("Source URL", srcHBox);
   srcEdit = new KLineEdit(srcHBox);

   QHBox* targetHBox = new QHBox(mainVBox);
   QLabel* targetLabel = new QLabel("Target URL", targetHBox);
   targetEdit = new KURLRequester(targetHBox);

   startGetButton = new KPushButton("Start Getting!", mainVBox);
   QObject::connect(startGetButton, SIGNAL(clicked()),
                    this, SLOT(slotGetStart()) );

   setCentralWidget(mainVBox);
}</pre>
<p>このメソッドでは各種のGUI部品を作っています。
レイアウトに関しては、LabelとEditを横にならべ(QHBox)、そしてそれらを縦に並べる(QVBox)という構成になっています。
またボタンがクリックされるとslot<span class="noexists">GetStart<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=GetStart&amp;refer=%28KIO%29get%A4%CE%A5%B5%A5%F3%A5%D7%A5%EB%A5%D7%A5%ED%A5%B0%A5%E9%A5%E0">?</a></span>()を呼び出すようにSignal&amp;Slotを設定します。</p>
<pre>void kiosample::slotGetStart()
{
   if (srcEdit-&gt;text().isEmpty() || targetEdit-&gt;url().isEmpty())
       return;
   if (isDownloading)
       return; //ダウンロード中
   kdDebug() &lt;&lt; "kiosample : slotGetStart()" &lt;&lt; endl;

   downloadData = new QBuffer;
   downloadData-&gt;open(IO_WriteOnly);

   /* ダウンロード開始 */
   KIO::TransferJob* job = KIO::get(KURL(srcEdit-&gt;text()), false, false);
   QObject::connect(job, SIGNAL(data(KIO::Job *, const QByteArray &amp;)),
                    this, SLOT(slotData(KIO::Job *, const QByteArray &amp;)));
   QObject::connect(job, SIGNAL(result(KIO::Job *)),
                    this, SLOT(slotJobFinished(KIO::Job *)));

   isDownloading = true;
}</pre>
<p>ここが肝心のKIO::getを呼び出しているところです。
まず<a href="http://developer.kde.org/documentation/library/cvs-api/kio/html/namespaceKIO.html#a214" rel="nofollow">API</a>を参照して<span class="noexists">TransferJob<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=TransferJob&amp;refer=%28KIO%29get%A4%CE%A5%B5%A5%F3%A5%D7%A5%EB%A5%D7%A5%ED%A5%B0%A5%E9%A5%E0">?</a></span>を作り、そのjobが発信するsignalと下で説明するslotを接続しています。
また、job-&gt;add<span class="noexists">MetaData<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=MetaData&amp;refer=%28KIO%29get%A4%CE%A5%B5%A5%F3%A5%D7%A5%EB%A5%D7%A5%ED%A5%B0%A5%E9%A5%E0">?</a></span>("<span class="noexists">UserAgent<a href="http://www.kde.gr.jp/pukiwiki/index.php?cmd=edit&amp;page=UserAgent&amp;refer=%28KIO%29get%A4%CE%A5%B5%A5%F3%A5%D7%A5%EB%A5%D7%A5%ED%A5%B0%A5%E9%A5%E0">?</a></span>", "kiosample")等とすることによってjobに付加情報も与えることができます。</p>
<pre>void kiosample::slotData(KIO::Job *job, const QByteArray&amp; data)
{
   if(data.isEmpty())
       return;

   /*
    *データをバッファに一時保存
    *slotDataは複数回呼ばれる可能性が有ります
    */
   downloadData-&gt;writeBlock(data.data(), data.size());
}</pre>
<p>KIO::getが他のoperationと違う点は、データを受け取って来るという点です。
そしてそのデータを受け取っている部分がここです。
slotDataは先程jobのdataシグナルと結びつけました。
また、この部分は複数回呼ばれる可能性があるため、QBufferオブジェクトに一時的に受け取ったデータを書き込んでいます。</p>
<pre>void kiosample::slotJobFinished(KIO::Job *job)
{
   if( job-&gt;error() ){
	job-&gt;showErrorDialog();
       isDownloading = false;
	return;
   }

   //ファイルに書き込み
   QFile file(targetEdit-&gt;url());
   file.open(IO_WriteOnly);
   file.writeBlock(downloadData-&gt;buffer());

   //一時データを削除
   delete downloadData;
   downloadData = 0;

   isDownloading = false;

   KMessageBox::information(this, "Download Finished!");
}</pre>
<p>jobが処理を終了したというシグナルを発するとこのスロットが呼ばれます。(上で呼ばれるようにしました)
まずはエラーが起きていないかどうかをチェックし、それから先程受け取ったデータをファイルに書き込みます。
また、一時データをnewしたことを忘れないで下さい。newしたものは必ずdeleteしなければいけません。QObjectの子クラス以外は。</p>
<div class="counter">
Counter:   33,
today:     1,
yesterday: 0
</div>
