---
title: KDE関連リンク集 - 旧 Wiki アーカイブ
---

<p><a href="http://www.kde.gr.jp/pukiwiki/index.php?FrontPage" title="FrontPage (336d)">FrontPage</a></p>
<p>KDEに関連するURLを張りつけるページです。</p>
<ul class="list1" style="padding-left:16px;margin-left:16px"><li>公式
<ul class="list2" style="padding-left:16px;margin-left:16px"><li><a href="http://kde.org/" rel="nofollow">http://kde.org/</a></li>
<li>KDE Git リポジトリの一覧 <a href="http://quickgit.kde.org/" rel="nofollow">http://quickgit.kde.org/</a></li>
<li>KDE Subversion リポジトリの一覧 <a href="http://websvn.kde.org/" rel="nofollow">http://websvn.kde.org/</a> (現在は多くが Git に移行)</li></ul></li>
<li>ニュース・ブログ
<ul class="list2" style="padding-left:16px;margin-left:16px"><li>KDE News <a href="http://dot.kde.org/" rel="nofollow">http://dot.kde.org/</a></li>
<li>KDE Commit Digest <a href="http://commit-digest.org/" rel="nofollow">http://commit-digest.org/</a></li>
<li>開発者ブログ <a href="http://blogs.kde.org/" rel="nofollow">http://blogs.kde.org/</a></li>
<li>Planet KDE <a href="http://planetkde.org/" rel="nofollow">http://planetkde.org/</a></li></ul></li>
<li>ドキュメント
<ul class="list2" style="padding-left:16px;margin-left:16px"><li>Userbase <a href="http://userbase.kde.org/" rel="nofollow">http://userbase.kde.org/</a></li>
<li>Techbase <a href="http://techbase.kde.org/" rel="nofollow">http://techbase.kde.org/</a></li>
<li>KDE Documentation <a href="http://docs.kde.org/" rel="nofollow">http://docs.kde.org/</a></li></ul></li>
<li>フォーラム
<ul class="list2" style="padding-left:16px;margin-left:16px"><li><a href="http://forum.kde.org/" rel="nofollow">http://forum.kde.org/</a></li>
<li><a href="http://www.kde-forum.org/" rel="nofollow">http://www.kde-forum.org/</a></li></ul></li>
<li>アプリケーションとテーマ
<ul class="list2" style="padding-left:16px;margin-left:16px"><li><a href="http://kde-apps.org/" rel="nofollow">http://kde-apps.org/</a></li>
<li><a href="http://kde-look.org/" rel="nofollow">http://kde-look.org/</a></li></ul></li>
<li>開発者
<ul class="list2" style="padding-left:16px;margin-left:16px"><li><a href="http://www.derkarl.org/" rel="nofollow">http://www.derkarl.org/</a></li>
<li><a href="http://www.blackie.dk/" rel="nofollow">http://www.blackie.dk/</a></li></ul></li>
<li>ディストリビューション
<ul class="list2" style="padding-left:16px;margin-left:16px"><li><a href="http://kubuntu.org/" rel="nofollow">Kubuntu</a></li>
<li><a href="http://www.opensuse.org/" rel="nofollow">openSUSE</a></li>
<li><a href="http://www.mandriva.com/" rel="nofollow">Mandriva</a></li>
<li><a href="http://www.pclinuxos.com/" rel="nofollow">PCLinuxOS</a></li>
<li><a href="http://mageia.org/en/" rel="nofollow">Mageia</a></li>
<li><a href="http://chakra-project.org" rel="nofollow">Chakra</a></li>
<li><a href="http://www.pardus.org.tr/eng" rel="nofollow">Pardus</a></li>
<li><a href="http://www.pcbsd.org/" rel="nofollow">PC-BSD</a></li></ul></li></ul>
<div class="counter">
Counter:   45,
today:     1,
yesterday: 0
</div>
