---
title: 日本 KDE ユーザ会
layout: default
---

<link rel="stylesheet" href="{{ '/css/index.css' | relative_url }}">

<img src="/assets/img/teaser.jpg" class="teaser" decoding="async">

<main class="navfix container" aria-label="Content">
  <p>
    日本 KDE ユーザ会 (JKUG: Japan KDE Users' Group) は、主に KDE/Qt のローカライズや、日本における
    KDE のプロモーションなどを行っています。
  </p>

  <h2>最新情報が欲しい</h2>
  <p>
    <a href="https://twitter.com/KDE_Japan?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @KDE_Japan</a>
  </p>

  <h2>質問したい、話したい</h2>
  <p>
    <a href="https://jp.kde.org/community/whatiskdejp/communicate/">メーリングリスト</a> /
    <a href="https://www.facebook.com/groups/kdejp/">Facebook Group</a> /
    <a href="https://twitter.com/#!/search/realtime/%23kdejp">Twitter #kdejp ハッシュタグ</a>
    <a href="https://twitter.com/intent/tweet?button_hashtag=kdejp&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #kdejp</a>
  </p>

  <h2>活動に参加したい</h2>
  <p>
    <a href="/community/getinvolved/translation/">ソフトウェアの翻訳の情報</a>
  </p>
</main>

<script defer src="https://platform.twitter.com/widgets.js"></script>
