---
title: セキュリティアドバイザリ
---

<p>
  セキュリティアドバイザリの日本語訳です。<br />
  内容の正確性は保証できませんので、責任ある立場の方は必ず原文を確認してください。
</p>

<ul>
  <li><a href="/announcements/security/advisory-20100825-1.txt">advisory-20100825-1.txt</a></li>
  <li><a href="/announcements/security/advisory-20100413-1.txt">advisory-20100413-1.txt</a></li>
</ul>
