---
title: KDE 日本語翻訳プロジェクト
---

<div class="c2">現在の状況：
KDE-3.1、及びCVS版用の翻訳を募集しています。新規翻訳、翻訳の修正などがありましたら<a
href="mailto:kom@kde.gr.jp">担当</a>までメールを下さい。<br />

細かい情報は<a
href="./indexold.html">以前のページ</a>に載っています。</div>
<hr />

<h2>メッセージカタログの翻訳</h2>

<p>KDEではメッセージ、ドキュメントとも翻訳はメッセージカタログ形式のファイルを使用します。
翻訳をやってみようという方は以下を参考にやってみて下さい。ドキュメント翻訳の詳しい仕組みについては<a
href="./#doctrans">ドキュメントの詳細</a>の項で説明しています。一応本家KDE
projectの流儀に乗っ取っていますが一部日本語チームに特化した情報も入っています。</p>

<h3>手順</h3>

<p><a
href="ftp://ftp.kde.gr.jp/pub/kde/messages/3.1/">既存の翻訳、一部翻訳されたファイル
またはテンプレートファイル</a>をダウンロードする<br />
↓<br />
<a href="./#status">翻訳状況を確認する</a><br />
↓<br />

<a href="./kbabel.html">Kbabel</a>を設定する <a
href="./kbabel.html">(翻訳はKBabelというツールを使って行います。KBabelの設定はここ)</a><br />

↓<br />
<a href="./#taiyaku">対訳表</a>と<a
href="./#KDEorig">KDEの独自拡張</a>を読む<br />
↓<br />

訳す<br />
↓<br />
 もう一度対訳表を読んで確認<br />
↓<br />
公表する(KDeveloper-MLか<a href="mailto:kom@kde.gr.jp">担当</a>宛)</p>

<hr />

<h2><a id="status" name="status">翻訳状況の確認</a></h2>
<p>以前は<a
href="./kdejpdoc.html">翻訳状況</a>をHTMLにして公開していたのですが手間がかかる、利用者が少ないという理由から
<br />
現在は更新していません。それではどうやって翻訳状況を確認するかと言うとこれには2つの方法があります。 </p>
<p>(1)KBabelを使う <br />

KBabelのカタログマネージャというツールを使います。これを利用するにはテンプレートと日本語翻訳ファイルを <br />
インストールし、KBabelの設定でこれらのディレクトリを指定する必要があります。 <br />
(図)<a href="./cm1.png">カタログマネージャ</a></p>
<p>(2)i18n.kde.orgの<a
href="http://i18n.kde.org/stats/gui/HEAD/ja/index.php">Highscore
for ja</a>を参照する。<br />
これは本家が提供しているTranslation Statisticsです。<br />

</p>
<hr />

<h2><a id="taiyaku" name="taiyaku"></a><span
class="c4">対訳表</span></h2>
<p>更新中です。しばらくお待ち下さい。旧版は<a
href="./translate.html">ここ</a>。</p>
<hr />

<h2><a id="KDEorig" name="KDEorig"></a><span
class="c4">KDEの独自拡張</span></h2>

<p>KDEにはgettextにはないメッセージ翻訳の独自拡張があります。これらは間違えると深刻なので気を付けてください。
<br />
msgidが_:や_n:で始まるのが特徴です。_:や_n:で始まる行は訳さないで下さい。</p>

<p><span class="c5">translation information</span><br />
これらは翻訳者情報です。アプリケーションのバージョン情報の「翻訳」のところに表示されます。<br />
複数人いる場合はカンマで区切ります。</p>

<p>#: _translatorinfo.cpp:1<br />
msgid ""<br />
"_: NAME OF TRANSLATORS\n"<br />
"Your names"<br />
msgstr "Taiki Komoda"</p>

<p>#: _translatorinfo.cpp:3<br />

msgid ""<br />
"_: EMAIL OF TRANSLATORS\n"<br />
"Your emails"<br />
msgstr "kom@kde.gr.jp"</p>

<p><span class="c5">context information</span><br />
これは文脈情報です。短縮語とかで分かりづらい場合に翻訳者にこの語がどういう文脈で使われているかを<br />

示します。</p>

<p>#: kdecore/klocale.cpp:117<br />
msgid ""<br />
"_: June\n"<br />
"Jun"<br />
msgstr "6月"</p>

<p><span class="c5">plural form</span><br />
これは複数形情報です。gettext-0.10. 36以降で導入されたものとは書式が若干違います。ただ日本語の場合はNo
Pluralですので<br />
単純に下のようになります。</p>

<p>#: kfile/kfiledialog.cpp:1220
kio/defaultprogress.cpp:140<br />
#, c-format<br />

msgid ""<br />
"_n: %n directory\n"<br />
"%n directories"<br />
msgstr "%n ディレクトリ"</p>

<p>ちなみにgettextは0.10.35を使用するのがいいらしいです。</p>

<p>[参考]<br />
Plural=3の言語の場合は以下のようになります。<br />
msgid ""<br />
"_n: %n directory\n"<br />
"%n directories"<br />
msgstr ""<br />

"%n Katalog\n"<br />
"%n Kataloga\n"<br />
"%n Katalogiv"</p>

<p>[注意]<br />
kdelibs.poに以下のような項目があります。<br />
msgid ""<br />

"_: Definition of PluralForm\n"<br />
"Look at klocale.cpp for now"</p>

<p>これは訳すものではなく設定情報です。これに対するmsgstrは"NoPlural"にします。<br />
（kdelibs.poはできるだけ私がメインテナンスします）</p>
<hr />

<h2><a id="doctrans">ドキュメントの詳細</a></h2>

<h3>翻訳中、査読中ファイル</h3>

<p><a
href="http://www.kde.gr.jp/~kom/translation">査読待ちファイル</a>。いままで日本語化されていないファイルがここにあります。ご覧ください。</p>

<p>過去の翻訳ファイルに関してはの<a
href="http://www.kde.gr.jp/help/index.html">ここ</a>にあります。</p>

<h3>設定</h3>

<p>まずKBabelを設定してください。</p>

<h3>翻訳</h3>

<p>KBabelで翻訳します。</p>

<h3>KDE翻訳エキスパート向け情報</h3>

<p>XML/POフォーマット
KDEでは2.2からドキュメントのフォーマットをXMLに変更しました。これは世界的に標準になりつつあるXMLをドキュメントフォーマットの中核にしようとしたものです。<br />

ドキュメントの翻訳には一つ問題がありました。それはもしオリジナルの文書が更新された場合にそれに追随するのが難しいということです。ましてやSGMLやXMLのタグだらけの文書の中の更新された一部分を探し出すのはそれだけで一苦労で肝心の翻訳に労力が割けません。そこで考え出された方法がXMLから擬似的にPOファイル（メッセージカタログ）を作成し、それを既に熟成された感のあるメッセージカタログ翻訳ツールKBabelで翻訳しそれをまたXMLに変換するという方法です。こうすることで翻訳者はタグをほとんど意識することなく、更新された部分も一目瞭然（原文と翻訳が対応した形になっているため）に翻訳だけに集中して作業ができます。POファイルはCVSで自動的に生成され、PO-&gt;XMLの変換は各国語のコーディネータが行います。<br />

このように翻訳者が行うKDEドキュメント翻訳のほぼ全ての作業はKBabelで行えます。つまりKBabelさえ使いこなせるようになれば翻訳に協力して頂くことができるということです。もちろんこの上位でどういうことが行われているかを理解していただくことはKDEのドキュメントシステムに対するより深い理解につながりますが、これは必ずしも必要ではありません。いずれにせよKBabelを使うことで効率的なKDEドキュメントの翻訳が行えるでしょう。</p>

<h3>ドキュメントの変換の仕方</h3>
<p>>
ちなみに最初からKBabelで翻訳すればこんな苦労はしなくてすみます;)。 <br />

この方法はKDE2のドキュメントが存在し、かつほとんど情報が変わっていない場合に有効です。 <br />
以下の手順でXML/PO化します。ただほとんどの場合ものすごい労力を伴うことに注意してください。 <br />
エンコーディングをUTF8に変更する。ほとんどの場合元ファイルはEUC-JP。 <br />
<kbd>% iconv -f ujis -t utf8 index.docbook &gt; index.xml </kbd><br />
<kbd>% mv index.xml index.docbook </kbd><br />

（注）XMLファイルの拡張子は.xmlではなく.docbookです。 <br />
一部の記号をXML対応にする（このコマンドは日本語を破壊するので使用しなくても手間は変わらないかもしれません;(）
<br />
<kbd>% xmlizer index.docbook </kbd><br />
日本語の場合一部の文字が破壊されるのでYudit(UNICODEエディタ)で直す;(。このエディタは壊れたシーケンスが入っていてもなんとか編集<br />

できます。 <br />
<kbd>% yudit index.docbook </kbd><br />

XML的に正しいかのチェック。正しくない場合はYuditで直す(結構エラーが出ます
;()。タグがXMLで定義されていないこともあります。 <br />
<kbd>% checkXML index.docbook </kbd><br />
もしくは <br />
<kbd>% meinproc --check index.docbook </kbd><br />
これでエラーが出なくなったら <br />
<kbd>% meinproc index.docbook </kbd><br />

とするとindex.html以下様々なファイルが作成され、ヘルプの閲覧ができます。（適当なディレクトリで <br />
読み込めばスタイルシートのファイルも読み込まれます。） <br />
この状態で閲覧可能なXMLファイルができました。次にメッセージファイルへの分割を行います。メッセージファイルへの分割はタグをいくつか直せば通ることがありますがたいていの場合パラグラフが足りなかったりタグが異なったりします。Kbabelでメッセージカタログ化されたものを確認すれば不整合が起こっているのが分かるでしょう。そのような場合にはタグを直し、パラグラフが足りないところには
その場で訳すか原文をはさみます。 <br />
<kbd>% split2po 原文のXML 翻訳されたXML &gt; app.po </kbd><br />
<kbd>% kbabel app.po </kbd><br />

この作業でエラーが出なくなり、かつオフセットがなくなったらXMLに戻す際にエラーが起こらないか確認します。 <br />
<kbd>% po2xml 原文のXML 翻訳されたPOファイル　&gt; index.docbook </kbd><br />
<br />
エラーが出なくなったらようやくそのpo、xmlとも最新のフォーマットに追いつきました。お疲れ様でした。 <br />
<br />
メッセージカタログ化した後は修正はメッセージカタログに対して行います。なぜならKbabelで翻訳する場合パラグラフ内のタグしか見えません。その他のタグは自動的に処理してくれるためここらへんで起こるエラーが防げます。</p>
