---
title: KDE メッセージファイル翻訳プロジェクト
---

<h2>
<font color="#3333FF">メッセージファイルの翻訳</font></h2>
ここはメッセージファイル(通称poファイル)翻訳のコーナーです。翻訳をやってみようという方は以下を参考にやってみて下さい。
<br>一応本家KDE projectの流儀に乗っ取っていますが一部日本語チームに特化した情報も入っています。
<p>手順<br><a href="#files">既存の翻訳、一部翻訳されたファイルとテンプレートファイル</a>をダウンロードする→<BR>
翻訳状況を確認する→ <a href="#kbabel">Kbabel</a>を設定する(gettextの知識がない場合は<a href="./howto-i18n.html">本家
KDE 国際化ページの KDE 国際化 HOWTO</a>を読む)→
<br><a href="#taiyaku">対訳表</a>と<a href="#KDEorig">KDEの独自拡張</a>を読む→
訳す→ もう一度対訳表を読んで確認→公表する
<br><font color="#FF0000">現在KDE-2.2、及びCVS版用の翻訳を募集しています。新規翻訳、翻訳の修正などがありましたら<a href="mailto:kom@kde.gr.jp">担当</a>までメールを下さい。</font>
<br><font color="#FF0000">最後に行なわれた修正が最近の場合でも新しい翻訳が追加されている場合があるので、既存の翻訳も通読してみて下さい。</font>
<p><a href="ftp://ftp.kde.gr.jp/pub/ftp.kde.org/kde/snapshots/current/kde-i18n/">既存の翻訳、一部翻訳されたファイル</a>
または<a href="ftp://ftp.kde.gr.jp/pub/kde/messages/2.2/">テンプレートファイル</a>
をダウンロードして、その中のpoを翻訳します。
<br><font color="#FF0000">翻訳のファイルの標準のエンコーディングは UTF-8
ですがUTF-8 編集の環境がない場合は日本語 EUC でも構いません。</font>
<br><font color="#FF0000">使いなれるとエラーチェックしてくれたりする<font size=+2>KBabelはかなり便利</font>なので、できるだけKBabelを使って下さい。</font>
<hr WIDTH="100%">
<h2>
<font color="#3333FF">翻訳状況の確認</font></h2>
以前は<a href="./kdejpdoc.html">翻訳状況</a>をHTMLにして公開していたのですが手間がかかる、利用者が少ないという理由から
<br>現在は更新していません。それではどうやって翻訳状況を確認するかと言うとこれには2つの方法があります。
<br>(1)KBabelを使う
<br>KBabelのカタログマネージャというツールを使います。これを利用するにはテンプレートと日本語翻訳ファイルを
<br>インストールし、KBabelの設定でこれらのディレクトリを指定する必要があります。
<br>(図)<a href="./document/po/cm1.png">カタログマネージャ</a>
<p>(2)i18n.kde.orgの<a href="http://i18n.kde.org/stats/gui/ja-highscore.html">Highscore
for ja</a>を参照する。
<br>これは本家が提供しているTranslation Statisticsです。ただし未着手のファイルは表示されていないので
<br>注意してください。パッケージ全体の翻訳状況は<a href="http://i18n.kde.org/stats/gui/i18n-table-HEAD.html">Status
table of KDE Translations for the HEAD branch</a>で参照できます。
<hr WIDTH="100%">
<h2>
<a NAME="taiyaku"></a><font color="#3333FF">対訳表</font></h2>
更新中です。しばらくお待ち下さい。旧版は<a href="./translate.html">ここ</a>。
<hr WIDTH="100%">
<h2>
<a NAME="KDEorig"></a><font color="#3333FF">KDEの独自拡張</font></h2>
KDEにはgettextにはないメッセージ翻訳の独自拡張があります。これらは間違えると深刻なので気を付けてください。
<br>msgidが_:や_n:で始まるのが特徴です。_:や_n:で始まる行は訳さないで下さい。
<p><font color="#000099"><font size=+1>translation information</font></font>
<br>これらは翻訳者情報です。アプリケーションのバージョン情報の「翻訳」のところに表示されます。
<br>複数人いる場合はカンマで区切ります。
<p>#: _translatorinfo.cpp:1
<br>msgid ""
<br>"_: NAME OF TRANSLATORS\n"
<br>"Your names"
<br>msgstr "Taiki Komoda"
<p>#: _translatorinfo.cpp:3
<br>msgid ""
<br>"_: EMAIL OF TRANSLATORS\n"
<br>"Your emails"
<br>msgstr "kom@kde.gr.jp"
<p><font color="#000099"><font size=+1>context information</font></font>
<br>これは文脈情報です。短縮語とかで分かりづらい場合に翻訳者にこの語がどういう文脈で使われているかを
<br>示します。
<p>#: kdecore/klocale.cpp:117
<br>msgid ""
<br>"_: June\n"
<br>"Jun"
<br>msgstr "6月"
<p><font color="#000099"><font size=+1>plural form</font></font>
<br>これは複数形情報です。gettext-0.10. 36以降で導入されたものとは書式が若干違います。ただ日本語の場合はNo
Pluralですので
<br>単純に下のようになります。
<p>#: kfile/kfiledialog.cpp:1220 kio/defaultprogress.cpp:140
<br>#, c-format
<br>msgid ""
<br>"_n: %n directory\n"
<br>"%n directories"
<br>msgstr "%n ディレクトリ"
<p>ちなみにgettextは0.10.35を使用するのがいいらしいです。
<p>[参考]
<br>Plural=3の言語の場合は以下のようになります。
<br>msgid ""
<br>"_n: %n directory\n"
<br>"%n directories"
<br>msgstr ""
<br>"%n Katalog\n"
<br>"%n Kataloga\n"
<br>"%n Katalogiv"
<p>[注意]
<br>kdelibs.poに以下のような項目があります。
<br>msgid ""
<br>"_: Definition of PluralForm\n"
<br>"Look at klocale.cpp for now"
<p>これは訳すものではなく設定情報です。これに対するmsgstrは"NoPlural"にします。
<br>（kdelibs.poはできるだけ私がメインテナンスします）
<p>
<hr>
<h2>
<a NAME="kbabel"></a><font color="#3333FF">翻訳に役立つ各種ツール</font></h2>
<b><font color="#3366FF">PO ファイル翻訳支援ツール</font></b>
<ul>
<li>
<a href="http://i18n.kde.org/tools/kbabel/index.html">KBabel</a>: UTF-8
対応（要 KDE-2.1, Qt-2.2）</li>

<li>
<a href="http://www.kde.gr.jp/~tino/po/">PO-tools</a>: msgmergeで破壊された文字列</li>

<br>を復元するmsgsplit.pl(rmsgsplit.pl)が含まれます。</ul>
<b><font color="#3366FF">UTF-8(UNICODE のエンコーディングの1つ)対応エディタ</font></b>
<ul>
<li>
Mule-UCS: Emacsで Unicode が扱えるようになる。(Emacs-LISP)</li>

<li>
<a href="http://www.yudit.org">Yudit</a>: UTF-8 対応エディタで、XIM にも対応しているので日本語入力可能。</li>
</ul>
<b><font color="#3366FF">UNICODE &lt;-> その他のエンコーディングのコンバータ</font></b>
<ul>
<li>
iconv: glibc-2.1 以降に標準添付</li>

<li>
TCS</li>

<li>
GNU recode</li>
</ul>

<hr>
<a NAME="files"></a><h2>
<font color="#3333FF">ファイル置場</font></h2>
<font color="#FF0000">以下のファイルのライセンスは全て<b>GPL2</b>です。自由に配布できます。</font>
<br><font color="#FF0000">配布等で疑問がございましたら
<a href="mailto:kom@kde.gr.jp">担当</a>までメールを下さい。</font>
<p><b><font color="#FF6600">KDE-2.2用</font></b>
<br>KDE-2.2用メッセージファイルは現在JKUGでベータテストを行なっております。
<br>インストールして不具合を見つけ出して下さい。未翻訳の部分の翻訳も受け付けております。
<br><a href="ftp://ftp.kde.gr.jp/pub/ftp.kde.org/kde/snapshots/current/kde-i18n/">既存の翻訳、一部翻訳されたファイル</a>
<br><a href="ftp://ftp.kde.gr.jp/pub/kde/messages/2.2/">テンプレートファイル</a>
<p><b><font color="#FF6600">KDE-2.0.1, KDE-2.1, KDE-2.1.1用</font></b>
<br>KDE-2.0.1, KDE-2.1, KDE-2.1.1では本家の配布に含まれます。
<p><b><font color="#FF6600">KDE-2.0用</font></b>
<br><a href="ftp://www.kde.gr.jp/pub/kde/messages/2.0/">kde-i18n-ja-日付.tar.bz2</a>をダウンロードして下さい。
<br>インストールは以下の通りです
<p>$ tar xvIf kde-i18n-ja-日付.tar.bz2
<br>$ cd kde-i18n-ja
<br>$ ./configure --prefix=$KDEDIR
<br>$ make
<br>$ su
<br>パスワード
<br># make install
<p><b><font color="#FF6600">KDE-1.1.2 用アップデートパッケージ</font></b>
<br>KDE-1.1.2 には標準で日本語po,kdelnk日本語エントリーが含まれています。
<br>KDE-1.1.2 の po ファイルのアップデートパッケージです。
<br>解凍後make,make installでインストールされます。
<br><a href="./kde-1.1.2-ja.po_modified.tar.bz2">(1)KDE-1.1.2用アップデートパッケージ(kde-1.1.2-ja.po_modified.tar.bz2)</a>
<p><b><font color="#FF6600">KDE-1.1.1用</font></b>
<br><font color="#FF6600">最新版では全アプリケーションの po が含まれます。</font>
<br><font color="#FF6600">po と mo はどちらかがあれば十分です。両方は要りません。</font>
<br><a href="./pofiles-ja-1.0.0pre1.tar.bz2">(2)開発者用日本語KDE-1.1.1.poファイル(pofile-ja-1.0.0pre1.tar.bz2)</a>
<br><a href="./locale-ja-1.0.0pre1.tar.bz2">(3)ユーザー用日本語KDE-1.1.1.moファイル(locale-ja-1.0.0pre1.tar.bz2)</a>
<p><font color="#FF6600">その他</font>
<br><a href="ftp://www.kde.gr.jp/pub/kde/messages/others/">(4)非標準アプリケーション用.poファイル</a>
<br>オフィシャルKDEパッケージに含まれないKDEアプリケーションのpoファイルです。
<br>
<p>All units are in pixels unless otherwise specified</p>
<p>最終更新日：2001年6月15日</p>
