---
title: メーリングリストと IRC
---

<p>日本 KDE ユーザ会では KDE の日本語版の開発や、ドキュメントの翻訳、ユーザ同士の情報交換などのために、メーリングリスト、各種チャット、その他コミュニティを運営しています。</p>

<h2>メーリングリスト</h2>

<p>
  日本語メーリングリストを購読するには、件名を「subscribe」にして、<a href="mailto:kde-jp-request@kde.org?subject=subscribe">kde-jp-request@kde.org</a> にメールを送信して下さい。<br>
  <a href="mailto:kde-jp-request@kde.org?subject=subscribe">購読</a>&nbsp;/&nbsp;<a href="https://mail.kde.org/pipermail/kde-jp/">アーカイブの閲覧</a>
</p>

<h2>チャット</h2>

<h3>IRC</h3>

<p>
  チャンネル名: #KDE-JP<br>
  IRC サーバは irc.freenode.net を推奨
</p>

<p>
  あまり活発に利用されてはいませんが、IRC も用意してあります。KDE
  に関する疑問、開発・ローカライズの話、人生相談 ;-) など、基本的に話題は何でもありです。
</p>

<p>
  KDE Project からは、Konversation が IRC クライアントとして提供されています。<br />
  Konversation から [ファイル] → [サーバリスト] で表示されるダイアログから、[新規] ボタンを押し、[ネットワーク名]
  に「JKUG」など適当な表示名を入力します。<br>
  必要に応じて、[起動時に自動的に接続する] にチェックを入れておいてください。Konversation 起動時に、自動的に JKUG の IRC にログインされます。<br>
  [サーバ] リストボックスの下にある [追加] ボタンを押して現れるダイアログで、[サーバ] に "irc.freenode.net"、ポートに "6667" と入力して OK を押します。<br>
  [自動的に入るチャンネル] で [追加] ボタンを押して現れるダイアログで "#KDE-JP" と入力し OK を押します。<br>
  これで設定は完了です。OK を押して [新しいネットワーク] ダイアログを閉じると、[サーバリスト] ダイアログで、今作成した JKUG IRC がリストに追加されているはずですので、それを選択して [接続] ボタンを押します。
</p>

<h3>Matrix</h3>

<p>
  <a href="https://webchat.kde.org/#/room/#jp:kde.org" target="_blank">Matrix #jp:kde.org ルーム</a>
</p>

<p>
  KDE.org 本体で、Matrix というチャットシステムを運用しています。<br>
  上記リンクから、日本語のチャットルーム #jp:kde.org に入ることができます。
</p>

<h2>Facebook グループ</h2>

<p>
  <a href="https://www.facebook.com/groups/150482055086840/">Facebook グループ: KDE (ja | JP)</a>
</p>
<p>
  KDE の日本語 Facebook グループです。
</p>
