---
title: 日本 KDE ユーザ会 会則
---

<h2>日本 KDE ユーザ会 会則</h2>

2002年6月29日 初版<br/>
<br/>
<h3>第1章 総則</h3>

<h4>(名称)</h4>
第1条<br />
本会は日本KDEユーザ会(通称JKUG(ジェーケーユージー))と称する。

<h4>(事務局所在地)</h4>
第2条<br/>
本会は事務局を東京都武蔵野市吉祥寺本町1-35-14 F4号、株式会社デジタル・クルー内に置く。

<h3>第2章 目的及び事業</h3>

<h4>(目的)</h4>
第3条<br/>
KDE の日本への普及を推進すること。

<h4>(事業)</h4>
第4条<br />
本会は目的達成の為、KDE アプリケーションの日本語対応のための開発、日本国内の KDE 開発者の支援、セミナーや展示会への出展などを行う。

<h3>第3章 会員</h3>

<h4>(会員種別)</h4>
第5条<br />
会員種別として個人会員と法人会員を設ける。

<h4>(入会)</h4>
第6条<br />
本会の会員になろうとする者は、所定の入会申込書を本会に提出し、役員会の承認を受けることとする。ただし個人会員については、別途定める本会主催のメーリングリストに参加することによってこれに代えることができるものとする。

<h4>(退会)</h4>
第7条<br />
会員は退会しようとするとき、事前にその旨を書面をもって会長に届け出、役員会の承認をもって退会する事ができる。<br />
また、下記の場合は退会とみなす。<br />
イ、 個人会員が本会主催の全メーリングリストから脱退したとき。<br />
ロ、 個人会員が死亡したとき。<br />
ハ、 法人会員が解散したとき。<br />

<h4>(除名)</h4>
第8条<br />
次の各項に相当する場合、会長は会員を除名できる。<br />
イ、 本会主催のMLのメールが送信できない状態の者<br />
ロ、 本会会則に従わない者<br />
ハ、 本会の名誉を著しく傷つける行為を行った者<br />
ニ、 本会の活動を妨害する者<br />
ホ、 イに該当する者はML管理者の権限で除名できるものとする。ロ〜ニに該当する除名は臨時総会を行い、出席者の3分の2以上の賛成をもって実行される。

<h3>第4章 スタッフ</h3>

<h4>第9条</h4>
個人会員はスタッフ資格を保有できる。<br />
イ、個人会員は役員会に申請することにより随時スタッフの資格を得ることができる。<br />
ロ、 スタッフが必要とみなした場合個人会員本人の承諾を得たのち、役員会の承認をもって当該個人会員をスタッフとするすることができる。<br />
ハ、 スタッフの除名は事前にその旨を書面をもって会長に届け出、役員会の承認をもって除名する事ができる。

<h3>第5章 役員</h3>

<h4>(役員)</h4>
第10条<br />
本会は次の役員を置く。<br />
イ、 会長 1名<br />
ロ、 副会長 2名<br />
ハ、 会計 1名<br />

<h4>(役員の選出)</h4>
第11条<br />
イ、 会長、副会長はスタッフの資格をもつ者の互選により選出する。<br />
ロ、 会計は立候補から総会にて承認する。ただし次期会長の一存でこれに代えることができる。

<h4>(役員の任務)</h4>
第12条<br />
イ、 会長 本会を代表して全ての業務を総括する。<br />
ロ、 副会長 会長を補佐し、会長が不都合の時はその職務を代行する。<br />
ハ、 会計 本会会計に関する一切の業務を担当する。

<h4>役員の任期、補充及び報酬</h4>
第13条<br />
イ、 役員の任期は1年とし、再選を妨げないものとする。<br />
ロ、 役員に欠員が生じた場合には、必要に応じてこれを補充することができる。<br />
ハ、 補充された役員の任期は前任者の残任期間とする。<br />
ニ、 役員は無報酬とする。

<h3>第6章 会の運営</h3>

<h4>(総会)</h4>
第14条<br />
本会は毎年12月に定期総会を開催する。<br />
また、会長が必要と認めた時、または2名以上の会員の要求がある時は臨時総会を招集できる。総会は会長または副会長が議長を務める。総会では原則として次期の人事の討議をするものとする。

<h4>(役員会)</h4>
第15条<br />
役員会は会長が必要に応じて招集し、審議事項について討議する。<br />
審議事項はスタッフの委託に基づき役員会が決定する。

<h4>(議決)</h4>
第16条<br />
総会は役員の半数以上および同数以上の無役会員、役員会は役員の半数以上の出席を得て成立し、議決は出席者の過半数によって決する。賛否同数の場合は議長がこれを決する。
<br />
第17条<br />
総会は次の事項を審議決定する。<br />
イ、会則の変更<br />
ロ、予算の決定及び決算の承認<br />
ハ、事業計画の決定及び事業報告の承認<br />
ニ、役員の選出及び承認

<h3>第7章 会費及び会計</h3>

<h4>(会費)</h4>
第18条<br />
イ、会費 法人会員は毎年所定の会費を納めるものとする。会費は一口壱万円で一口以上とする。<br />
ロ、特別会費 本会運営上特に必要と認める場合、役員会の議決により特別会計を徴収する事ができる。<br />
ハ、会費の返納 退会における会費の返納はしない。

<h4>(事業年度)</h4>
第19条<br />
本会の事業年度は毎年1月1日から同年12月31日までとする。


<h3>第8章 附則</h3>

第20条<br />
本会則は平成14年06月29日より実行する。
