---
title: "詳細情報: UNIX (lpr) の印刷機構"
---

<img src="./full_logo.jpg" alt="title" />

<img src="./lpr.png" alt="印刷の流れ" />
<p>　一般的な印刷の流れとしては上図のフローの通りです。
<br />　まず各アプリケーションはPostScriptという印刷ファイル形式で印刷を出力します。UNIXのほとんどのアプリケーションはPostScriptファイルで印刷を出力する機能を持っており、問題は多いとはいえUNIXではデファクトスタンダードと言って良いでしょう。
<br />　次にGhostScriptというプログラムにデータを渡しPostScriptをプリンターが印刷できる生データに変換します。GhostScriptの最新版はフリーライセンスではありません。GhostScriptの最新版より一つ古いバージョンはGPLで配布されています。通常のディストリビューションにはこのバージョンが入っています。その中でもCKJに対応したものやTrueTypeフォントを使用できるようにしたもの等さまざまなバージョンがありますが、ここではディストリビューションに付属のGhostScriptについてみていきます。またプリンターの中にはPostScriptファイルをそのまま印刷できるものもあります。これはPostScriptプリンターと呼ばれ、店頭で売っていることもあると思いますが、非常に高価なので通常の用途であえてこれを買う人はいないと思います。よって普通はGhostScriptを使用することになると思います。
<br />　さて、プリンターの生データに変換できたらスプーラと呼ばれるプログラムにそのデータを渡します。CUPS/LPRはスプールやジョブ管理をするプログラムでGhostScriptから送られてきた生データを一時的に保存しその後プリンターポートにデータを流します。CUPSはスプーラだけではなく高度なプリンタ管理もできます。LPRにはBSDのLPRや高機能なLPRngがあります。基本的な設定、使用法は両者とも同じです。
</p>

<p>最終更新日：2002年11月18日</p>
