---
title: KDE で印刷しよう
---

<img src="./full_logo.jpg" alt="title" />

<p>KDEではバージョン2.2から印刷機構の強化を掲げています。実際KDEアプリケーションからの印刷は
Windowsに比べて遜色なく、それに加えPDF書き出しの機能など便利な機能も備えています。では
Windowsに比べて劣っているところはあるか?というとやはり設定がカンタンにはいかないことが多いです。しかし
KDEの設定ツールを使用すれば簡単にプリンタの設定を行うことが出来ます。このドキュメントでは
KDEでのプリンタの設定の仕方、印刷方法について解説します。また最新の印刷システム、CUPSについての
Tipsも掲載します。<br />
</p>

<h2>目次: KDE関連</h2>

<ol>
<li><a href="./setting.html">KDEを使った印刷設定(ローカル)</a></li>
<li><a href="./remote_kde.html">KDEクライアントからリモートCUPSサーバへ印刷する場合の設定</a></li>
<li><a href="./nowprint.html">KDEアプリケーションからの印刷</a></li>
<li><a href="./detail_lpr.html">詳細情報「UNIX(lpr)の印刷機構」</a></li>

</ol>

<h2>目次: CUPS関連</h2>

<ol>
<li><a href="./lprtocups.html">BSD lpr → CUPS乗り換え方法</a></li>
<li><a href="./samba_cups.html">SambaでCUPS</a></li>
<li><a href="./remote_cups.html">CUPS設定ツールを使用したCUPSサーバへのプリンタ追加の設定</a></li>
<li><a href="./ipp_fromwin.html">WindowsクライアントからのIPPを使用した印刷方法</a></li>
<li><a href="./remote.html">リモート印刷サーバの構築:　事例</a></li>


</ol>

<ul>
<li>(注1)もうすでにCUPS/lprで印刷する環境が整っている場合は<a href="./nowprint.html">KDEアプリケーションからの印刷</a>に飛んでください。</li>
<li>
(注2)RedHat8.0に関してはRedHat付属の資料をご覧ください。</li>
<li>
(注3)説明はKDE-3.1で行いますが3.0系、2.2系でも大体同じです。
</li>
</ul>

<h2>リンク</h2>
<ul>
<li><a href="http://printing.kde.org/">KDE Printing (KDEの印刷関連ドキュメント)</a></li>
<li><a href="http://www.cups.org/">CUPS (高機能印刷システム)</a></li>
<li><a href="http://bazaar.turbolinux.co.jp/~yama/Printing/CUPS/">印刷システムCUPSについて(日本語で読める技術情報、秀逸!)</a></li>
<li><a href="http://www.cs.wisc.edu/~ghost/index.html">GhostScript (誰もが使うインタープリタ)</a></li>
<li><a href="http://www.linux.or.jp/JF/JFdocs/Printing-HOWTO.html">Linux Printing HOWTO(日本語版)</a></li>
<li><a href="http://www.epkowa.co.jp/linux/pips.html">Epson Photo Image Print System（エプソンコーワ）</a></li>
<li><a href="http://cweb.canon.jp/e-support/os/">Canon OS別対応情報</a></li>
<li><a href="http://www.linuxprinting.org/">LinuxPrinting.org (Linuxの印刷関連ドキュメント)</a></li>
</ul>

<p>最終更新日：2002年11月18日</p>
